
/* ---------- ********** |||||||||| СТРАНИЦА SUP |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ CENT ********** ---------- */


.sup-cent {
    padding: 0px 16px 58px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .sup-cent {
        padding: 0px 80px 90px;
    } 
}




.sup-cent--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.sup-cent .c-common--h2 {
    max-width: none;
}




.sup-cent--div__MAIN {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .sup-cent--div__MAIN {
        margin-top: 42px;
        flex-direction: row;
        gap: 10px;
    }
}




.sup-cent .st-main--p__DESCR2 {
    margin-top: 0px;
}
@media (min-width: 1440px) {
    .sup-cent .st-main--p__DESCR2 {
        padding-right: 30px;
        flex: 1 1 50%;
    }
}




@media (min-width: 1440px) {
    .sup-cent .st-main--p__DESCR2.__C-SCRL {
        transform: translate(-150px, 0px) !important;
    }
}




.sup-cent .st-main--div__ATTENTION {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .sup-cent .st-main--div__ATTENTION {
        margin: 0px;
        width: auto;
        flex: 1 1 50%;
    }
}




.sup-cent .st-main--svg__ATTENTION {
    margin: 8px 17px;
}
@media (min-width: 1440px) {
    .sup-cent .st-main--svg__ATTENTION {
        margin: 2px 30px;
    }
}




@media (min-width: 1440px)  {
    .sup-cent .st-main--p__ATTENTION br {
        display: none;
    }
}




.sup-cent .st-main--a__ATTENTION {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--color-blue);
}