/* ---------- ********** СЕКЦИЯ HERO ********** ---------- */


.hm-hero {
    margin-top: 53px;
}
@media (min-width: 1440px) {
    .hm-hero {
        margin-top: 90px;
    }
}


.hm-hero--div__SWIPER {
    padding-bottom: 20px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .hm-hero--div__SWIPER {
        padding-bottom: 26px;
    }
}




/* .hm-hero--div__SWIPER_SLIDE {
    background: radial-gradient(140em at 0% -20%, hsl(0, 0%, 100%), hsl(210, 3%, 80%));
}
@media (min-width: 1760px) {
    .hm-hero--div__SWIPER_SLIDE {
        background: radial-gradient(140em at calc((100vw - 1600px) / 2) -80%, hsl(0, 0%, 100%), hsl(210, 3%, 80%));
    }
} */




.hm-hero--div__SWIPER_WRAPPER {
    box-sizing: border-box;
    align-items: stretch;
}




.hm-hero--div__SWIPER_SLIDE {
    height: auto;
    background: radial-gradient(87rem at 20% 30%, hsl(0, 0%, 100%), hsl(0, 0%, 0%));
    background-color: hsl(210, 3%, 88%);
    background-blend-mode: screen;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .hm-hero--div__SWIPER_SLIDE {
        padding: 0px 80px;
        background: radial-gradient(87rem at 10% -10%, hsl(0, 0%, 100%), hsl(0, 0%, 0%));
        background-color: hsl(210, 3%, 88%);
        background-blend-mode: screen;
    }
}
@media (min-width: 1760px) {
    .hm-hero--div__SWIPER_SLIDE {
        background: radial-gradient(87rem at calc((100vw - 1600px) / 2) -5%, hsl(0, 0%, 100%), hsl(0, 0%, 0%));
        background-color: hsl(210, 3%, 88%);
        background-blend-mode: screen;
    }
}




.hm-hero--button__PREV,
.hm-hero--button__NEXT {
    display: none;
}
@media (min-width: 1440px) {
    .hm-hero--button__PREV,
    .hm-hero--button__NEXT {
        position: absolute;
        top: calc(50% - 24px);
        z-index: 2;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }




    .hm-hero--button__PREV {
        left: 24px;
    }
    .hm-hero--button__NEXT {
        left: auto;
        right: 24px;
    }
}




.hm-hero--div__SWIPER_PAGINATION {
    top: auto !important;
    bottom: 0px !important;
}




.hm-hero--div__SWIPER_PAGINATION .swiper-pagination-bullet {
    margin: 0px 7px !important;
    height: 15px;
    width: 26px;
    position: relative;
    background-color: transparent;
    opacity: 1;
    transition: all 0.7s;
    border-radius: 0px;
}
@media (min-width: 1440px) {
    .hm-hero--div__SWIPER_PAGINATION .swiper-pagination-bullet {
        width: 60px;
    }
}




.hm-hero--div__SWIPER_PAGINATION .swiper-pagination-bullet::before {
    content: "";
    height: 1px;
    inset: 7px 0px 0px 7px;
    position: absolute;
    background-color: var(--color-gray);
    transition: all 0.7s;
}




.hm-hero--div__SWIPER_PAGINATION .swiper-pagination-bullet-active::before {
    background-color: var(--color-red);
}




.hm-hero--div__SWIPER_CONT {
    padding-bottom: 60px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.7s;
}
@media (min-width: 1440px) {
    .hm-hero--div__SWIPER_CONT {
        padding: 0px;
        height: 494px;
        flex-direction: row;
        gap: 80px;
        overflow: visible;
    }
}
@media (min-width: 1920px) {
    .hm-hero--div__SWIPER_CONT {
        gap: 140px;
    }
}




.hm-hero--div__IMAGE {
    padding: 0px 32px;
    width: 100%;
    max-width: 500px;
    position: relative;
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(160px at center, hsl(0, 0%, 37%), hsl(210, 3%, 80%), hsla(0, 0%, 100%, 0%)); */
    transform: translateX(100%);
    opacity: 0;
    animation: visib 0.7s forwards;
    transition: transform 1s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .hm-hero--div__IMAGE {
        padding: 0px;
        max-width: none;
        flex: 1 1 0%;
        justify-content: center;
        align-items: center;
        /* background: radial-gradient(280px 180px at 50% 60%, hsl(0, 0%, 65%) 0%, hsl(210, 3%, 88%) 60%, hsla(0, 0%, 100%, 0%) 90%); */
        transform: translateX(-100%);
        animation: visib 1.8s forwards;
        transition: transform 1s, opacity 2s 0.2s;
    }
}

.__hm-hero--div__SWIPER_SLIDE .hm-hero--div__IMAGE {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    animation: none;
}




.hm-hero--div__SWIPER_SLIDE[data-swiper-slide-index="0"] .hm-hero--div__IMAGE {
    background: radial-gradient(145px 125px at center, hsl(0, 0%, 37%), hsl(210, 3%, 80%), hsla(0, 0%, 100%, 0%));
}
@media (min-width: 1440px) {
    .hm-hero--div__SWIPER_SLIDE[data-swiper-slide-index="0"] .hm-hero--div__IMAGE {
        background: radial-gradient(280px 180px at 50% 60%, hsl(0, 0%, 65%) 0%, hsl(210, 3%, 88%) 60%, hsla(0, 0%, 100%, 0%) 90%);
    }
}




.hm-hero--img__MAIN {
    max-height: 400px;
    width: 100%;
    max-width: 400px;
    position: relative;
    object-fit: contain;
    pointer-events: none;
}
@media (min-width: 1440px) {
    .hm-hero--img__MAIN {
        max-height: 92%;
        width: auto;
        max-width: 115%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}
@media (min-width: 1920px) {
    .hm-hero--img__MAIN {
        max-width: 123%;
        max-height: 97%;
    }
}




.hm-hero--img__CIRCLE1,
.hm-hero--img__CIRCLE2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}




@keyframes hm-hero_circle1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.hm-hero--img__CIRCLE1 {
    height: 690px;
    width: 690px;
    animation: hm-hero_circle1 20s linear infinite;
}
@media (min-width: 1440px) {
    .hm-hero--img__CIRCLE1 {
        height: 1008px;
        width: 1008px;
    }
}
@media (min-width: 1920px) {
    .hm-hero--img__CIRCLE1 {
        height: 1108px;
        width: 1108px;
    }
}




@keyframes hm-hero_circle2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}
.hm-hero--img__CIRCLE2 {
    height: 380px;
    width: 380px;
    animation: hm-hero_circle2 20s linear infinite;
}
@media (min-width: 1440px) {
    .hm-hero--img__CIRCLE2 {
        height: 538px;
        width: 538px;
    }
}




.hm-hero--div__SWIPER_SLIDE[data-swiper-slide-index="0"] .hm-hero--img__CIRCLE2 {
    opacity: 0.5;
}




.hm-hero--div__TEXT {
    margin-bottom: 32px;
    padding: 30px 16px 0px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .hm-hero--div__TEXT {
        margin-bottom: 0px;
        padding: 44px 0px;
        width: 710px;
        flex-shrink: 0;
    }
}




.hm-hero--h1 {
    margin-bottom: 22px;
    max-width: 500px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-blue);
    transform: translateX(-100%);
    opacity: 0;
    animation: visib 1.1s forwards;
    transition: transform 1.1s, opacity 1.8s;
}
@media (min-width: 1440px) {
    .hm-hero--h1 {
        margin-bottom: 26px;
        max-width: none;
        font-size: 32px;
        line-height: 44px;
        transform: translateX(100%);
        animation: visib 1.8s 0.2s forwards;
        transition: transform 1.1s, opacity 1.8s 0.2s;
    }
}
.__hm-hero--div__SWIPER_SLIDE .hm-hero--h1 {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    animation: none;
}




.hm-hero--div__COUNTS {
    margin-bottom: 22px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    transform: translateY(100%);
    opacity: 0;
    animation: visib 0.7s 0.4s forwards;
    transition: all 0.7s 0.4s;
}
@media (min-width: 1440px) {
    .hm-hero--div__COUNTS {
        margin-bottom: 32px;
        max-width: none;
        flex-direction: row;
        justify-content: space-between;
        gap: 65px;
        transform: translateY(0%);
        animation: visib 1.2s 0s forwards;
        transition: all 1.2s 0s;
    }
}
.__hm-hero--div__SWIPER_SLIDE .hm-hero--div__COUNTS {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    animation: none;
}




.hm-hero--div__COUNT {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .hm-hero--div__COUNT {
        flex: 1 1 50%;
    }
}




.hm-hero--span__COUNT {
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 34px;
    line-height: 34px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .hm-hero--span__COUNT {
        margin-bottom: 18px;
        font-size: 60px;
        line-height: 70px;
    }
}




.hm-hero--p__COUNT {
    max-width: 75%;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .hm-hero--p__COUNT {
        max-width: none;
        font-size: 16px;
        line-height: 26px;
    }
}




.hm-hero--a__TOCHAPTER {
    padding: 12px 25px;
    position: relative;
    align-self: flex-start;
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-red);
    border-radius: 7px;
    transform: translate(0%, 100%);
    opacity: 0;
    animation: visib 0.7s 0.7s forwards;
    transition: transform 0.7s 0.8s, background-color 0.2s, opacity 0.7s 0.8s;
}
@media (min-width: 1440px) {
    .hm-hero--a__TOCHAPTER {
        padding: 15px 45px;
        font-size: 18px;
        border-radius: 10px;
        transform: translate(100%, 0%);
        animation: visib 0.8s 0s forwards;
        transition: transform 1.2s 0s, background-color 0.2s, opacity 0.9s 0s;
    }
}




.__hm-hero--div__SWIPER_SLIDE .hm-hero--a__TOCHAPTER {
    transform: translate(0%, 0%);
    opacity: 1;
    visibility: visible;
    animation: none;
}




.hm-hero--a__TOCHAPTER::before {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 35%;
    opacity: 0;
    transform: skew(-25deg, 0deg);
    /* background: linear-gradient(to right,hsla(0, 0%, 100%, 60%) 0%,hsla(0, 0%, 100%, 6%) 100%); */
    background: linear-gradient(to right,hsla(0, 0%, 100%, 68%) 0%,hsla(0, 0%, 100%, 5%) 100%);
    transition: all 0.2s;
    animation: button-to-right 2.5s infinite;
}
@media (any-hover: hover) {
    .hm-hero--a__TOCHAPTER:hover::before {
        display: none;
    }
    .hm-hero--a__TOCHAPTER:hover {
        background-color: var(--color-red-hover);
    }
}
.hm-hero--a__TOCHAPTER:active::before {
    display: none;
}
.hm-hero--a__TOCHAPTER:active {
    background-color: var(--color-red-hover);
}


