
/* ---------- ********** |||||||||| СТРАНИЦА TECH |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ DEV ********** ---------- */


.te-dev {
    margin-top: 53px;
    padding: 0px 16px 58px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .te-dev {
        margin-top: 90px;
        padding: 0px 80px 90px;
    } 
}




.te-dev--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.te-dev .c-common--div__TABS {
    margin: 30px 0px 0px;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: hsl(0, 0%, 90%);
    overflow: hidden;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .te-dev .c-common--div__TABS {
        margin: 57px auto 0px;
        padding: 6px;
        width: 100%;
        max-width: 1035px;
        border-radius: 35px;
    }
}



.te-dev .c-common--div__TABS.__C-SCRL.DOWN {
    transform: translate(0px, 50px) !important;
}
@media (min-width: 1440px) {
    .te-dev .c-common--div__TABS.__C-SCRL.DOWN {
        transform: translate(0px, 70px) !important;
    }
}




.te-dev .c-common--div__TABS_TOP {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 18px;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    pointer-events: none;
}
@media (min-width: 1440px) {
    .te-dev .c-common--div__TABS_TOP {
        justify-content: space-between;
        gap: 0px;
    }
}




.te-dev .c-common--a__TABS {
    padding: 10.5px 13px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--color-black1);
    white-space: nowrap;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    pointer-events: all;
}
@media (min-width: 1440px) {
    .te-dev .c-common--a__TABS {
        padding: 22px 25px;
        font-size: 21px;
        line-height: 21px;
    }
}
@media (min-width: 1920px) {
    .te-dev .c-common--a__TABS {
        padding: 22px 32px;
    }
}




.te-dev .c-common--a__TABS._ACT {
    color: hsl(0, 0%, 100%);
}




.te-dev .c-common--div__TABS_FRAME {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: var(--color-blue);
    border-radius: 16px;
    transition: width 0.3s, transform 0.3s;
}
@media (min-width: 1440px) {
    .te-dev .c-common--div__TABS_FRAME {
        border-radius: 30px;
    }
}




.te-dev .c-common--button__TABS_LEFT, 
.te-dev .c-common--button__TABS_RIGHT {
    height: 100%;
    position: absolute;
    top: 50%;
    left: -1px;
    z-index: 2;
    display: none;
    align-items: center;
    transform: translateY(-50%);
}

.te-dev .c-common--button__TABS_LEFT {
    background: linear-gradient(270deg, transparent, hsl(0, 0%, 90%) 40%);
}
.te-dev .c-common--button__TABS_RIGHT {
    left: auto;
    right: -1px;
    background: linear-gradient(90deg, transparent, hsl(0, 0%, 90%) 40%);
}

.te-dev .__c-common--button__TABS_LEFT, 
.te-dev .__c-common--button__TABS_RIGHT {
    display: flex;
}




.te-dev .c-common--button__TABS_LEFT svg {
    transform: rotate(180deg);
}




.te-dev .c-common--h2 {
    margin-top: 38px;
}
@media (min-width: 1440px) {
    .te-dev .c-common--h2 {
        margin-top: 57px;
    }
}




.te-dev--div__MAIN {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .te-dev--div__MAIN {
        margin-top: 42px;
    }
}





@media (min-width: 1440px) {
    .te-dev .st-main--p__DESCR2 {
        margin-top: 24px;
    }
}




.te-dev .st-main--div__IMAGE6 {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .te-dev .st-main--div__IMAGE6 {
        margin-top: 43px;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_BORDER.second {
        margin: 0px 0px 19px;
        width: 100%;
        background: url("../../../../images/tech/te-dev_border1.svg");
    }
}




@media (min-width: 1920px) {
    .te-dev .st-main--div__IMAGE6_MAIN_TEXT_CONT {
        flex: 1;
    }
}




@media (min-width: 1920px) {
    .te-dev .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_IMAGE_CONT {
        width: 50%;
        flex: 1;
        align-self: flex-end;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMAGE6.second .st-main--img__IMAGE6_BIG_IMAGE {
        object-position: 0px 0px;
    }
}




@media (max-width: 1439px) {
    .te-dev .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_TEXT {
        margin: 16px 0px 0px;
    }
}




.te-dev .st-main--div__IMGLIST_ITEM_IMAGE {
    background-color: hsl(0, 0%, 100%);
}
@media (min-width: 1440px) {
    .te-dev .st-main--div__IMGLIST_ITEM_IMAGE {
        width: 78px;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMGLIST_ITEM {
        padding: 8px 24px;
        justify-content: space-between;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMGLIST_ITEM.__C-SCRL {
        transform: translate(0px, 0px) !important;
        opacity: 1 !important;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMGLIST_IMAGE {
        flex: 1 1 42%;
        align-self: flex-start;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMGLIST_IMAGE.__C-SCRL {
        transform: translate(-150px, 0px) !important;
    }
}




@media (min-width: 1440px) {
    .te-dev .st-main--div__IMGLIST_ITEMS {
        flex: 1 1 55%;
        gap: 10px;
        transition: opacity 0.7s, transform 0.7s;
    }
}




@media (max-width: 1439px) {
    .te-dev .st-main--div__IMGLIST_ITEMS {
        transform: translate(0px, 0px) !important;
        opacity: 1 !important;
    }
}




.te-common--div__LIST_BODY2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
}
@media (min-width: 1440px) {
    .te-common--div__LIST_BODY2 {
        gap: 80px;
    }
}




.te-common--div__LIST_BODY2 .st-main--ul__DESCR3 {
    width: calc(50% - 8px);
}
@media (min-width: 1440px) {
    .te-common--div__LIST_BODY2 .st-main--ul__DESCR3 {
        width: calc(50% - 45px);
    }
}




.te-common--div__LIST_BODY4 {
    display: flex;
    flex-direction: column;
}




.te-common--div__LIST_BODY4_CONT {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1440px) {
    .te-common--div__LIST_BODY4_CONT {
        margin-top: 44px;
        flex-direction: row;
        gap: 80px;
    }
}




.te-common--div__LIST_BODY4 .st-main--div__DESCR3 {
    margin-top: 0px;
}
@media (min-width: 1440px) {
    .te-common--div__LIST_BODY4 .st-main--div__DESCR3 {
        flex: 1;
    }
}
