
/* ---------- ********** КОМПОНЕНТ TABS ********** ---------- */

.c-common--div__TABS {
    margin: 30px 0px 0px;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 18px;
    background-color: hsl(0, 0%, 90%);
    overflow: hidden;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .c-common--div__TABS {
        margin: 57px auto 0px;
        padding: 6px;
        width: 100%;
        max-width: 1286px;
        border-radius: 35px;
    }
}



.c-common--div__TABS.__C-SCRL.DOWN {
    transform: translate(0px, 50px) !important;
}
@media (min-width: 1440px) {
    .c-common--div__TABS.__C-SCRL.DOWN {
        transform: translate(0px, 70px) !important;
    }
}




.c-common--div__TABS_TOP {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    border-radius: 18px;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    pointer-events: none;
}
@media (min-width: 1440px) {
    .c-common--div__TABS_TOP {
        justify-content: space-between;
        gap: 0px;
    }
}




.c-common--a__TABS {
    padding: 10.5px 13px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: var(--color-black1);
    white-space: nowrap;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    pointer-events: all;
}
@media (min-width: 1440px) {
    .c-common--a__TABS {
        padding: 22px 25px;
        font-size: 21px;
        line-height: 21px;
    }
}
@media (min-width: 1920px) {
    .c-common--a__TABS {
        padding: 22px 32px;
    }
}




.c-common--a__TABS._ACT {
    color: hsl(0, 0%, 100%);
}




.c-common--div__TABS_FRAME {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: var(--color-blue);
    border-radius: 16px;
    transition: width 0.3s, transform 0.3s;
}
@media (min-width: 1440px) {
    .c-common--div__TABS_FRAME {
        border-radius: 30px;
    }
}




.c-common--button__TABS_LEFT, 
.c-common--button__TABS_RIGHT {
    height: 100%;
    position: absolute;
    top: 50%;
    left: -1px;
    z-index: 2;
    display: none;
    align-items: center;
    transform: translateY(-50%);
}

.c-common--button__TABS_LEFT {
    background: linear-gradient(270deg, transparent, hsl(0, 0%, 90%) 40%);
}
.c-common--button__TABS_RIGHT {
    left: auto;
    right: -1px;
    background: linear-gradient(90deg, transparent, hsl(0, 0%, 90%) 40%);
}

.__c-common--button__TABS_LEFT, 
.__c-common--button__TABS_RIGHT {
    display: flex;
}




.c-common--button__TABS_LEFT svg {
    transform: rotate(180deg);
}