
/* ---------- ********** HEADER ********** ---------- */


.c-header {
    position: fixed;
    inset: 0px 0px auto 0px;
    z-index: 10;
}




.c-header--div__SHADOW {
    padding: 0px 16px;
    position: absolute;
    inset: 0px 0px auto 0px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: var(--block-shadow);
}
@media (min-width: 1440px) {
    .c-header--div__SHADOW {
        padding: 0px 80px;
    }
}




.c-header--div__SUBMENU_BACK {
    height: 494px;
    width: 100%;
    position: absolute;
    top: 90px;
    right: -120%;
    z-index: -3;
    background-color: hsl(0, 0%, 100%);
    opacity: 0;
    transition: all 0.5s;
}
@media (min-width: 1440px) {
    .c-header--div__SUBMENU_BACK {
        transition: all 0.7s;
    }
    .c-header--div__SUBMENU_BACK:has(~ nav .c-header--a__MENU.__c-header--a__MENU + .__c-header--div__SUBMENU1) {
        transform: translateX(-120%);
        opacity: 1;
        box-shadow: var(--block-shadow);
    }
}




.c-header--div__SUBMENU_BACK2_DESC {
    display: none;
}
@media (min-width: 1440px) {
    .c-header--div__SUBMENU_BACK2_DESC:has(~ nav .c-header--li__MENU > .__c-header--div__SUBMENU1) {
        display: block;
        position: fixed;
        inset: 0px;
        z-index: -3;
    }
}




.c-header--div__SUBMENU_BACK2_MOB {
    display: none;
}
@media (max-width: 1439px) {
    .c-header--div__SHADOW:has(.__c-header--ul__MENU) .c-header--div__SUBMENU_BACK2_MOB {
        position: fixed;
        inset: 0px;
        z-index: -3;
        display: flex;
    }
}




.c-header--nav {
    padding: 16px 0px;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    transition: all 0.7s;
}
@media (min-width: 1440px) {
    .c-header--nav {
        padding: 18px 0px;
        position: relative;
    }
}




.c-header--a__LOGO {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}




.c-header--img__LOGO {
    width: 112px;
}
@media (min-width: 1440px) {
    .c-header--img__LOGO {
        width: 180px;
    }
}




.c-header--ul__MENU {
    padding: 30px 16px;
    max-height: calc(100 * var(--uservh) - 53px);
    width: 100%;
    position: absolute;
    top: 53px;
    right: -120%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: hsl(0, 0%, 100%);
    list-style-type: none;
    overflow-y: auto;
    /* box-shadow: 0px 6px 12px 4px var(--color-shadow); */
    transition: gap 0.5s, transform 0.5s;
}
@media (min-width: 1440px) {
    .c-header--ul__MENU {
        margin-right: 48px;
        padding: 0px;
        max-height: none;
        width: auto;
        position: static;
        z-index: auto;
        flex-direction: row;
        gap: 0px;
        box-shadow: none;
    }
}

@media (max-width: 1439px) {
    .__c-header--ul__MENU {
        transform: translateX(-120%);
    }
    .c-header--ul__MENU:has(.__c-header--div__SUBMENU1) {
        overflow-y: visible;
    }
}




@media (min-width: 1440px) {
    .c-header--li__MENU:not(:last-of-type) {
        margin-left: 48px;
    }
}




.c-header--button__MENU,
.c-header--a__MENU {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
    background-color: transparent;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .c-header--button__MENU,
    .c-header--a__MENU {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (any-hover: hover) {
    .c-header--button__MENU:hover,
    .c-header--a__MENU:hover {
        color: var(--color-blue);
    } 
}

.c-header--button__MENU:active,
.c-header--a__MENU:active {
    color: var(--color-blue);
}

@media (min-width: 1440px) {
    .__c-header--button__MENU:has(+ .__c-header--div__SUBMENU1),
    .__c-header--a__MENU:has(+ .__c-header--div__SUBMENU1) {
        /* font-weight: 700; */
        text-shadow: 0px 0px var(--color-blue);
        color: var(--color-blue);
    }
}




.c-header--li__MENU:not(:has(.c-header--div__SUBMENU)) .c-header--a__MENU svg {
    display: none;
}
.c-header--li__MENU:not(:has(.c-header--div__SUBMENU)) .c-header--a__MENU.__c-header--a__MENU {
    color: var(--color-black1);
}




@media (min-width: 1440px) {
    .c-header--button__MENU svg,
    .c-header--a__MENU svg {
        display: none;
    }
}




.c-header--div__SUBMENU {
    height: calc(100 * var(--uservh) - 53px);
    width: 100%;
    max-width: 1600px;
    position: absolute;
    inset: 0px -120% auto auto;
    z-index: 2;
    display: none;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    opacity: 0;
    box-shadow: 0px 5px 5px 5px var(--color-shadow);
    overflow-x: hidden;
    overflow-y: auto;
    /* transition: all 0.7s; */
    transition: opacity 0.5s, transform 0.5s, height 1.5s;
}
@media (min-width: 1440px) {
    .c-header--div__SUBMENU {
        height: 494px;
        inset: 0px -120% auto auto;
        flex-direction: row;
        box-shadow: var(--block-shadow);
        transition: opacity 0.7s, transform 0.7s;
    }
    .c-header--a__MENU + .c-header--div__SUBMENU {
        width: 100%;
        inset: 90px -120% auto auto;
        z-index: -1;
        box-shadow: none;
    }
}

@media (max-width: 1439px) {
    .__c-header--div__SUBMENU1 {
        display: flex;
    }
    .__c-header--div__SUBMENU2 {
        transform: translate(-120%);
        opacity: 1;
    }
    .__c-header--div__SUBMENU_HID {
        overflow-y: hidden;
        height: 1500px;
    }
}
@media (min-width: 1440px) {
    .__c-header--div__SUBMENU1 {
        display: flex;
    }
    .__c-header--div__SUBMENU2 {
        transform: translate(calc(-120% + var(--k-header-submenu-part)));
        opacity: 1;
        box-shadow: none;
    }
    .c-header--a__MENU + .c-header--div__SUBMENU.__c-header--div__SUBMENU2 {
        transform: translate(-120%);
    }
    .__c-header--div__SUBMENU_HID {
        overflow-y: hidden;
    }
}




.c-header svg {
    flex-shrink: 0;
}




.c-header--a__SUBMENU_BACK {
    margin-top: 30px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    gap: 26px;
}
@media (min-width: 1440px) {
    .c-header--a__SUBMENU_BACK {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        pointer-events: none;
    }
    .c-header--a__MENU + .c-header--div__SUBMENU > .c-header--a__SUBMENU_BACK {
        margin-left: 13px;
        padding: 0px;
        display: flex;
    }
}




@media (min-width: 1440px) {
    .c-header--a__SUBMENU_BACK svg {
        display: none;
    }
}




.c-header--a__SUBMENU_BACK span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-blue);
    background-color: transparent;
    border: none;
    transition: color 0.2s;
    cursor: pointer;
}




.c-header--ul__SUBMENU {
    margin: 30px 0px;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
@media (min-width: 1440px) {
    .c-header--ul__SUBMENU {
        margin: 30px 20px 30px 0px;
        padding: 0px 20px;
        flex: 0 0 var(--k-header-submenu-width1);
        overflow-y: auto;
    }
    .c-header--a__MENU + .c-header--div__SUBMENU > .c-header--ul__SUBMENU {
        margin-top: 88px;
        padding-left: 0px;
    }
}




.c-header--ul__SUBMENU::-webkit-scrollbar {
    position: relative;
    right: 20px;
}




.c-header--a__SUBMENU {
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
    border-left: 2px solid transparent;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
    transition: all 0.2s;
}

@media (any-hover: hover) {
    .c-header--a__SUBMENU:hover {
        color: var(--color-blue);
        background-color: var(--color-bluegray);
        border-left: 2px solid var(--color-red);
    }
}
.c-header--a__SUBMENU:active {
    color: var(--color-blue);
    background-color: var(--color-bluegray);
    border-left: 2px solid var(--color-red);
}

@media (min-width: 1440px) {
    .c-header--a__SUBMENU:has(+ .__c-header--div__SUBMENU2) {
        color: var(--color-blue);
        background-color: var(--color-bluegray);
        border-left: 2px solid var(--color-red);
    }
}




.c-header--ul__SUBMENU:not(:has(.c-header--div__SUBMENU)) .c-header--a__SUBMENU {
    font-weight: 300;
}




.c-header--li__SUBMENU:not(:has(.c-header--div__SUBMENU)) .c-header--a__SUBMENU svg {
    display: none;
}
.c-header--li__SUBMENU:not(:has(.c-header--div__SUBMENU)) .c-header--a__SUBMENU.__c-header--a__SUBMENU {
    color: var(--color-black1);
    background-color: transparent;
    border-left: 2px solid transparent;
}




.c-header--div__SUBMENU_BOTTOM {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: var(--color-bluegray);
    box-shadow: var(--block-shadow);
}
@media (min-width: 1440px) {
    .c-header--div__SUBMENU_BOTTOM {
        flex: 1 1 var(--k-header-submenu-width2);
        align-items: flex-start;
    }
}




.c-header--span__SUBMENU_BOTTOM {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-blue);
}
@media(min-width: 1440px) {
    .c-header--span__SUBMENU_BOTTOM {
        width: var(--k-header-submenu-width3);
    }
}
@media(min-width: 1920px) {
    .c-header--span__SUBMENU_BOTTOM {
        width: calc(var(--k-header-submenu-width3) + 40px);
    }
}




.c-header--div__SUBMENU_BOTTOM_IMAGE {
    /* min-height: 228px; */
    max-width: 500px;
    aspect-ratio: 7 / 5;
    position: relative;
    background-color: var(--color-gray);
    border-radius: 10px;
}
@media(min-width: 1440px) {
    .c-header--div__SUBMENU_BOTTOM_IMAGE {
        /* min-height: 200px; */
        max-width: none;
        width: var(--k-header-submenu-width3);
    }
}
@media(min-width: 1920px) {
    .c-header--div__SUBMENU_BOTTOM_IMAGE {
        width: calc(var(--k-header-submenu-width3) + 40px);
    }
}




.c-header--div__SUBMENU_BOTTOM_IMAGE > img {
    aspect-ratio: 7 / 5;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 10px;
}




.c-header--p__SUBMENU_BOTTOM {
    max-width: 500px;
    position: relative;
    /* max-height: calc(22px * 3); */
    /* min-width: 0; */
    flex-grow: 0;
    flex-shrink: 0;
    display: -webkit-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    color: var(--color-black1);
    overflow: hidden;
}
@media(min-width: 1440px) {
    .c-header--p__SUBMENU_BOTTOM {
        max-width: none;
        width: var(--k-header-submenu-width3);
    }
}
@media(min-width: 1920px) {
    .c-header--p__SUBMENU_BOTTOM {
        width: calc(var(--k-header-submenu-width3) + 40px);
    }
}




.c-header--a__SUBMENU_BOTTOM {
    padding: 9px 11px;
    max-width: 500px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-red);
    border-radius: 7px;
    text-align: center;
    overflow: hidden;
    transition: background-color 0.2s;
}
@media (min-width: 1440px) {
    .c-header--a__SUBMENU_BOTTOM {
        padding: 9px 19px;
        max-width: none;
    }
}




.c-header--a__SUBMENU_BOTTOM::before {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 35%;
    opacity: 0;
    transform: skew(-25deg, 0deg);
    /* background: linear-gradient(to right,hsla(0, 0%, 100%, 60%) 0%,hsla(0, 0%, 100%, 6%) 100%); */
    background: linear-gradient(to right,hsla(0, 0%, 100%, 68%) 0%,hsla(0, 0%, 100%, 5%) 100%);
    transition: background 0.2s, opacity 0.2s;
    animation: button-to-right 2.5s infinite;
}
@media (any-hover: hover) {
    .c-header--a__SUBMENU_BOTTOM:hover::before {
        display: none;
    }
    .c-header--a__SUBMENU_BOTTOM:hover {
        background-color: var(--color-red-hover);
    }
}
.c-header--a__SUBMENU_BOTTOM:active::before {
    display: none;
}
.c-header--a__SUBMENU_BOTTOM:active {
    background-color: var(--color-red-hover);
}




.c-header--button__SEARCH_OPEN {
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .c-header--button__SEARCH_OPEN {
        margin-right: 48px;
    }
}




@media (min-width: 1440px) {
    .c-header--button__SEARCH_OPEN svg {
        height: 30px;
        width: 30px;
    }
}




.c-header--button__SEARCH_OPEN svg path {
    transition: all 0.2s;
}

@media (any-hover: hover) {
    .c-header--button__SEARCH_OPEN svg:hover path {
        fill: var(--color-blue);
    }
}
.c-header--button__SEARCH_OPEN svg:active path {
    fill: var(--color-blue);
}




.c-header--form__SEARCH {
    padding: 0px 16px;
    height: 100%;
    width: calc(100% + 1px);
    position: absolute;
    top: -120%;
    left: 0px;
    right: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    transition: all 0.5s;
}
@media (min-width: 1440px) {
    .c-header--form__SEARCH {
        padding: 0px;
    }
}

.__c-header--form__SEARCH {
    transform: translateY(120%);
}




.c-header--div__SEARCH {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.c-header--input__SEARCH {
    padding: 5px 0px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: hsl(0, 0%, 0%);
    border: none;
    outline: none;
}
@media (min-width: 1440px) {
    .c-header--input__SEARCH {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }
}




.c-header--button__SEARCH {
    margin-right: 45px;
    padding: 15px 16px;
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
@media (min-width: 1440px) {
    .c-header--button__SEARCH {
        display: inline-flex;
    }
}

@media (any-hover: hover) {
    .c-header--button__SEARCH:hover {
        background-color: var(--color-blue-hover);
    }
}
.c-header--button__SEARCH:active {
    background-color: var(--color-blue-hover);
}




.c-header--button__SEARCH_CLOSE {
    margin-right: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .c-header--button__SEARCH_CLOSE {
        margin-right: 162px;
    }
}




@media (min-width: 1440px) {
    .c-header--button__SEARCH_CLOSE svg {
        height: 30px;
        width: 30px;
    }
}




.c-header--button__SEARCH_CLOSE svg path {
    stroke: var(--color-black1);
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-header--button__SEARCH_CLOSE svg:hover path {
        stroke: var(--color-blue);
    }
}
.c-header--button__SEARCH_CLOSE svg:active path {
    stroke: var(--color-blue);
}




.c-header--div__SEARCH_BACK {
    position: fixed;
    inset: 53px 0px 0px;
    z-index: 2;
    display: none;
    opacity: 0;
    background-color: hsla(0, 0%, 0%, 50%);
    /* backdrop-filter: blur(27px); */
    transition: opacity 0.5s;
}
@media (min-width: 1440px) {
    .c-header--div__SEARCH_BACK {
        inset: 90px 0px 0px;
    }
}

.__c-header--div__SEARCH_BACK1 {
    display: flex;
}
.__c-header--div__SEARCH_BACK2 {
    opacity: 1;
}






.c-header--a__CONTACTS {
    padding: 15px 16px;
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-blue);
    border-radius: 10px;
    transition: background-color 0.2s;
}
@media (min-width: 1440px) {
    .c-header--a__CONTACTS {
        display: inline-flex;
        font-size: 15px;
    }
}

@media (any-hover: hover) {
    .c-header--a__CONTACTS:hover {
        background-color: var(--color-blue-hover);
    }
}
.c-header--a__CONTACTS:active {
    background-color: var(--color-blue-hover);
}




.c-header--a__CONTACTS_MOB {
    padding: 15px 33px;
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-blue);
    border-radius: 7px;
    transition: background-color 0.2s;
}
@media (min-width: 1440px) {
    .c-header--a__CONTACTS_MOB {
        display: none;
    }
}

@media (any-hover: hover) {
    .c-header--a__CONTACTS_MOB:hover {
        background-color: var(--color-blue-hover);
    }
}
.c-header--a__CONTACTS_MOB:active {
    background-color: var(--color-blue-hover);
}




.c-header--button__BURGER {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .c-header--button__BURGER {
        display: none;
    }
}




.c-header--svg__BURGER {
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.__c-header--svg__BURGER {
    transform: rotate(360deg);
}




.c-header--rect__1 {
    transform-origin: 21px 2px;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.__c-header--rect__1 {
    transform: rotate(-43deg) scaleX(160%);
}




.c-header--rect__2 {
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.__c-header--rect__2 {
    transform: rotate(43deg) scaleX(130%);
}




.c-header--rect__3 {
    transform: translate(0%);
    transition: transform 0.5s;
}
.__c-header--rect__3 {
    transform: translate(150%);
}