
/* ---------- ********** |||||||||| СТРАНИЦА КАТАЛОГ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ WRT ********** ---------- */


.ct-wrt {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .ct-wrt {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.ct-wrt--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .ct-wrt--div__CONT {
        align-items: flex-end;
    }
}




.ct-wrt--div__CONT2 {
    padding: 22px 16px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bluegray);
    border-radius: 20px;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .ct-wrt--div__CONT2 {
        padding: 60px 80px 40px;
        width: 72.7%;
    }
}
@media (min-width: 1500px) {
    .ct-wrt--div__CONT2 {
        width: 73%;
    }
}
@media (min-width: 1730px) {
    .ct-wrt--div__CONT2 {
        width: 73.8%;
    }
}
@media (min-width: 1920px) {
    .ct-wrt--div__CONT2 {
        padding: 86px 80px 40px;
    }
}




.ct-wrt--h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .ct-wrt--h2 {
        line-height: 44px;
    }
}




.ct-wrt--p {
    margin-top: 12px;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .ct-wrt--p {
        margin-top: 20px;
    }
}




.ct-wrt--button{
    margin: 20px auto 0px; 
    padding: 18px 44px;
    width: 100%;
    max-width: 767px;
    position: relative;
    align-self: stretch;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-red);
    border-radius: 7px;
    transition: all 0.2s;
}
@media (min-width: 768px) {
    .ct-wrt--button {
        max-width: 328px;
    }
}
@media (min-width: 1440px) {
    .ct-wrt--button{
        margin: 50px 0px 0px; 
        width: 270px;
        align-self: flex-end;
        line-height: 28px;
    }
}

.ct-wrt--button::before {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 25%;
    opacity: 0;
    transform: skew(-25deg, 0deg);
    /* background: linear-gradient(to right,hsla(0, 0%, 100%, 60%) 0%,hsla(0, 0%, 100%, 6%) 100%); */
    background: linear-gradient(to right,hsla(0, 0%, 100%, 68%) 0%,hsla(0, 0%, 100%, 5%) 100%);
    transition: all 0.2s;
    animation: button-to-right 2.5s infinite;
}
@media (any-hover: hover) {
    .ct-wrt--button:hover::before {
        display: none;
    }
    .ct-wrt--button:hover {
        background-color: var(--color-red-hover);
    }
}
.ct-wrt--button:active::before {
    display: none;
}
.ct-wrt--button:active {
    background-color: var(--color-red-hover);
}