
/* ---------- ********** |||||||||| СТРАНИЦА КАРТОЧКА ТОВАРА |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ REC ********** ---------- */


.cd-rec {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .cd-rec {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.cd-rec--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-rec--div__CONT {
        align-items: flex-end;
    }
}




.cd-rec--div__CONT2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-rec--div__CONT2 {
        width: 63%;
    }
}




.cd-rec--p__TOP {
    margin-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-rec--p__TOP {
        margin-top: 35px;
        font-size: 16px;
        line-height: 26px;
    }
}




.cd-rec--div__SWIPER {
    margin-top: 40px;
    padding: 10px 10px 56px 10px;
    width: calc(100% + 20px);
    position: relative;
    top: -10px;
    left: -10px;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-rec--div__SWIPER {
        margin-top: 40px;
        padding: 25px 20px 64px 20px;
        width: calc(100% + 40px);
        position: relative;
        top: -25px;
        left: -20px;
    }
}




.cd-rec--div__SWIPER_WRAPPER {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}




.cd-rec--div__SWIPER_SLIDE {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
}
@media (min-width: 1440px) {
    .cd-rec--div__SWIPER_SLIDE {
        grid-row: span 7;
    }
}




.cd-rec--div__SWIPER .hm-cat--article__CARD {
    display: grid;
}




.cd-rec--div__SWIPER .hm-cat--article__CARD {
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0px;
    background-color: hsl(0, 0%, 100%);
    transition: opacity 0.9s, transform 0.3s;
}
@media (min-width: 1440px) {
    .cd-rec--div__SWIPER .hm-cat--article__CARD {
        margin-bottom: 0px;
        padding-bottom: 22px;
        grid-row: span 6;
        row-gap: 0px;
    }
}

.__hm-cat--article__CARD {
    transition: opacity 0.9s, transform 0.3s;
}




@media (min-width: 1440px) {
    .cd-rec--div__SWIPER .hm-cat--p__CARD_TEXT {
        -webkit-line-clamp: 3;
    }
}




.cd-rec--div__SWIPER_NAV {
    margin-left: auto;
    height: 38px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    display: flex;
    align-items: center;
    border: 0.25px solid var(--color-gray);
    border-radius: 12px;
}
@media (min-width: 1440px) {
    .cd-rec--div__SWIPER_NAV {
        bottom: 2px;
        right: 20px;
    }
}




.cd-rec--button__SWIPER_PREV,
.cd-rec--button__SWIPER_NEXT {
    padding: 9px 14px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}




.cd-rec--button__SWIPER_PREV.swiper-button-disabled,
.cd-rec--button__SWIPER_NEXT.swiper-button-disabled {
    opacity: 0.4;
    cursor: auto;
}




.cd-rec--button__SWIPER_PREV svg {
    transform: rotate(180deg);
}




.cd-rec--div__SWIPER_NAV_LINE {
    height: 16px;
    width: 0.25px;
    flex-shrink: 0;
    background-color: var(--color-gray);
}







/* ---------- ********** СЕКЦИЯ REC ********** ---------- */


#card-n .cd-rec {
    margin-bottom: 58px;
}
@media (min-width: 1440px) {
    #card-n .cd-rec {
        margin-bottom: 75px;
    }
}




@media (min-width: 1440px) {
    #card-n .cd-rec--div__CONT {
        align-items: stretch;
    }
}




#card-n .cd-reg--div__CONT .c-common--h2 {
    max-width: none;
}




@media (min-width: 1440px) {
    #card-n .cd-rec--p__TOP {
        align-self: flex-start;
    }
}