
/* ---------- ********** |||||||||| СТРАНИЦА КАРТОЧКА ТОВАРА |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ MOD ********** ---------- */


.cd-mod {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
    overflow: visible;
}
@media (min-width: 1440px) {
    .cd-mod {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.cd-mod--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-mod--div__CONT {
        align-items: flex-end;
    }
}




.cd-mod--div__CONT2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-mod--div__CONT2 {
        width: 63%;
    }
}




.cd-mod--p__TOP {
    margin-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-mod--p__TOP {
        margin-top: 35px;
        font-size: 16px;
        line-height: 26px;
    }
}




.cd-mod--div__CARDS {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}
@media (min-width: 768px) {
    .cd-mod--div__CARDS {
        grid-template-columns: 1fr 1fr;
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .cd-mod--div__CARDS {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1440px) {
    .cd-mod--div__CARDS {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1920px) {
    .cd-mod--div__CARDS {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




.cd-mod--div__CARDS .hm-cat--article__CARD {
    display: none;
    transition: transform 0.7s, opacity 0.7s;
}




.cd-mod--div__CARDS .__cd-mod--article__CARD {
    display: grid;
}




.cd-mod--div__BOTTOM {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-mod--div__BOTTOM {
        margin-top: 36px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}




.cd-mod--div__BOTTOM.__C-SCRL.DOWN {
    transform: translate(0px, 30px) !important;
}




.cd-mod--div__IND {
    display: flex;
    flex-direction: column;
    gap: 12px;
}




.cd-mod--p__IND {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .cd-mod--p__IND {
        font-size: 16px;
        line-height: 26px;
    }
}




.cd-mod--div__LINE0 {
    height: 4px;
    width: 100%;
    display: flex;
    background-color: var(--color-bluegray);
    border-radius: 4px;
}




.cd-mod--div__LINE1 {
    background-color: var(--color-blue);
    border-radius: 10px;
    opacity: 0.8;
}




.cd-mod--button__ELSE {
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 28px;
}
.__cd-mod--button__ELSE {
    display: none;
}




.cd-mod--span__ELSE {
    padding-bottom: 5px;
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
    color: var(--color-blue);
    border-bottom: 0.5px solid var(--color-blue);
    transition: text-shadow 0.2s, border-bottom 0.2s;
}
@media (min-width: 1440px) {
    .cd-mod--span__ELSE {
        padding-bottom: 10px;
        font-size: 18px;
    }
}
@media (any-hover: hover) {
    .cd-mod--button__ELSE:hover .cd-mod--span__ELSE {
        text-shadow: 0px 0px var(--color-blue);
        border-bottom: 1px solid var(--color-blue);
    }
    .cd-mod--button__ELSE:hover svg {
        filter: drop-shadow(0px 0px var(--color-blue));
    }
}
.cd-mod--button__ELSE:active .cd-mod--span__ELSE {
    text-shadow: 0px 0px var(--color-blue);
    border-bottom: 1px solid var(--color-blue);
}
.cd-mod--button__ELSE:active svg {
    filter: drop-shadow(0px 0px var(--color-blue));
}