
/* ---------- ********** |||||||||| СТРАНИЦА КАРТОЧКА СЕРИИ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ ADV ********** ---------- */


.cd-adv {
    margin-top: 68px;
    /* padding: 0px 16px; */
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .cd-adv {
        margin-top: 100px;
        /* padding: 0px 80px; */
    } 
}




.cd-adv--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-adv--div__CONT {
        align-items: flex-end;
    }
}




.cd-adv--div__CONT2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-adv--div__CONT2 {
        width: 100%;
    }
}




.cd-adv--div__CARDS {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}
@media (min-width: 768px) {
    .cd-adv--div__CARDS {
        grid-template-columns: 1fr 1fr;
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .cd-adv--div__CARDS {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1440px) {
    .cd-adv--div__CARDS {
        margin-top: 42px;
    }
}




.cd-adv--article {
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
    transition: box-shadow 0.25s, transform 0.7s, opacity 0.7s;
}
@media (min-width: 768px) {
    .cd-adv--article {
        grid-template-rows: subgrid;
        grid-row: span 2;
        row-gap: 0px;
        border: none;
    }
}
@media (min-width: 1440px) {
    .cd-adv--article {
        padding: 32px;
    }
}

.cd-adv--article:hover {
    box-shadow: var(--block-shadow);
    z-index: 2;
}
@media (min-width: 768px) {
    .cd-adv--article:hover {
        box-shadow: none;
    }
}




.cd-adv--article.__C-SCRL.DOWN {
    transform: translate(0px, 100px) !important;
}




.cd-adv--div__TOP {
    display: flex;
    align-self: center;
    gap: 20px;
    background-color: hsl(0, 0%, 100%);
}
@media (min-width: 768px) {
    .cd-adv--div__TOP {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 32px;
        grid-template-rows: subgrid;
        grid-row: span 2;
    }
}




.cd-adv--div__IMAGE {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}
@media (min-width: 1440px) {
    .cd-adv--div__IMAGE {
        height: 54px;
        width: 54px;
    }
}




.cd-adv--svg__IMAGE {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}




.cd-adv--svg__IMAGE path {
    transition: all 0.25s;
}
.cd-adv--article:hover path {
    stroke: var(--color-blue);
}




.cd-adv--p__NAME {
    align-self: center;
    justify-self: left;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black1);
}
@media (min-width: 768px) {
    .cd-adv--p__NAME {
        align-self: flex-start;
    }
}
@media (min-width: 1440px) {
    .cd-adv--p__NAME {
        font-size: 19px;
        line-height: 28px;
    }
}




.cd-adv--p__TEXT {
    padding-top: 0px;
    max-height: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
    opacity: 0;
    transition: padding 0.25s, max-height 0.25s, opacity 0.25s;
}
@media (min-width: 768px) {
    .cd-adv--p__TEXT {
        position: absolute;
        /* inset: 100% 20px auto 20px; */
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: auto;
    }
}
@media (min-width: 1440px) {
    .cd-adv--p__TEXT {
        /* inset: 100% 32px auto 32px; */
        top: 20px;
        left: 32px;
        right: 32px;
        bottom: auto;
        font-size: 16px;
        line-height: 26px;
    }
}

.cd-adv--article:hover .cd-adv--p__TEXT {
    padding-top: 20px;
    max-height: 300px;
    opacity: 1;
}
@media (min-width: 768px) {
    .cd-adv--article:hover .cd-adv--p__TEXT {
        padding-top: 0px;
    }
}
@media (min-width: 1440px) {
    .cd-adv--article:hover .cd-adv--p__TEXT {
        max-height: 450px;
    }
}




.cd-adv--div__BORDER {
    display: none;
}
@media (min-width: 768px) {
    .cd-adv--div__BORDER {
        position: absolute;
        inset: 0px;
        z-index: -1;
        display: flex;
        align-items: flex-end;
        background-color: hsl(0, 0%, 100%);
        border: 0.25px solid var(--color-gray);
        border-radius: 10px;
        overflow: hidden;
        transition: bottom 0.25s, box-shadow 0.25s;
    }
}

.cd-adv--article:hover .cd-adv--div__BORDER {
    box-shadow: var(--block-shadow);
}