
/* ---------- ********** |||||||||| СТРАНИЦА КАРТОЧКА СЕРИИ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ REG ********** ---------- */


.cd-reg {
    margin-top: 68px;
    /* padding: 0px 16px; */
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .cd-reg {
        margin-top: 100px;
        /* padding: 0px 80px; */
    } 
}




.cd-reg--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-reg--div__CONT {
        align-items: flex-end;
    }
}




.cd-reg--div__CONT2 {
    padding-bottom: 86px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-reg--div__CONT2 {
        padding-bottom: 0px;
        width: 100%;
    }
}




@media (min-width: 1440px) {
    .cd-reg--div__CONT2 .c-common--a__ALL {
        display: none;
    }
}




.cd-reg--div__CONT2 .c-common--h2 {
    max-width: none;
}




.cd-reg--a__TOP {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 31px;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-reg--a__TOP {
        gap: 60px;
    }
}




.cd-reg--p__TOP {
    font-size: 12px;
    line-height: 20px;
    color: var(--color-black1);
    text-transform: uppercase;
}
@media (min-width: 1440px) {
    .cd-reg--p__TOP {
        font-size: 20px;
        line-height: 30px;
    }
}




.cd-reg--img__TOP {
    height: 51px;
    width: 49px;
    flex-shrink: 0;
}
@media (min-width: 1440px) {
    .cd-reg--img__TOP {
        height: 74px;
        width: 71px;
    }
}




.cd-reg--div__TABLE {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 14px;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-reg--div__TABLE {
        margin-top: 42px;
        grid-template-columns: repeat(4, auto);
        column-gap: 25px;
        row-gap: 15px;
    }
}




.cd-reg--p__TABLE_TOP {
    display: none;
}
@media (min-width: 1440px) {
    .cd-reg--p__TABLE_TOP {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-black1);
    }
}




.cd-reg--div__TABLE_NAME {
    padding-top: 20px;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 14px;
    border-top: 0.25px solid var(--color-gray);
}
@media (min-width: 1440px) {
    .cd-reg--div__TABLE_NAME {
        padding-top: 0px;
        align-self: center;
        grid-column: span 1;
        gap: 22px;
        border-top: none;
    }
}




.cd-reg--svg__TABLE_NAME {
    height: 25px;
    width: 22px;
    flex-shrink: 0;
}
@media (min-width: 1440px) {
    .cd-reg--svg__TABLE_NAME {
        height: 40px;
        width: 35px;
    }
}




.cd-reg--p__TABLE_NAME {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .cd-reg--p__TABLE_NAME {
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
    }
}




.cd-reg--p__TABLE_NUMBER {
    padding-left: 35px;
    grid-column: 1 / 3;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .cd-reg--p__TABLE_NUMBER {
        margin-top: 0px;
        padding-left: 0px;
        align-self: center;
        grid-column: span 1;
        font-size: 16px;
        line-height: 26px;
    }
}



@media (min-width: 1440px) {
    .cd-reg--span__TABLE_NUMBER_TOP {
        display: none;
    }
}




.cd-reg--a__TABLE_PDF {
    margin-left: 35px;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .cd-reg--a__TABLE_PDF {
        margin-left: 17px;
        grid-column: span 1;
        align-self: center;
    }
}




.cd-reg--img__TABLE_PDF {
    height: 25px;
    width: 22px;
}
@media (min-width: 1440px) {
    .cd-reg--img__TABLE_PDF {
        height: 41px;
        width: 35px;
    }
}




@media (min-width: 1440px) {
    .cd-reg--a__TABLE_PDF span {
        display: none;
    }
}




.cd-reg--a__TABLE_GISP {
    grid-column: 2 / 3;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    color: var(--color-blue);
}
@media (min-width: 1440px) {
    .cd-reg--a__TABLE_GISP {
        grid-column: span 1;
        justify-self: start;
        align-self: center;
        gap: 35px;
        font-size: 17px;
    }
}




.cd-reg--a__TABLE_GISP span {
    transition: text-shadow 0.2s;
}




@media (any-hover: hover) {
    .cd-reg--a__TABLE_GISP:hover span {
        text-shadow: 0px 0px 1px var(--color-blue);
    }
    .cd-reg--a__TABLE_GISP:hover svg {
        filter: drop-shadow(0px 0px var(--color-blue));
    }
}

.cd-reg--a__TABLE_GISP:active span {
    text-shadow: 0px 0px 1px var(--color-blue);
}
.cd-reg--a__TABLE_GISP:active svg {
    filter: drop-shadow(0px 0px var(--color-blue));
}




.cd-reg--a__TABLE_GISP span:last-of-type {
    display: none;
}
@media (min-width: 1440px) {
    .cd-reg--a__TABLE_GISP span:first-of-type {
        display: none;
    }
    .cd-reg--a__TABLE_GISP span:last-of-type {
        display: flex;
    }
}




.cd-reg--div__TABLE_LINE {
    margin-top: 6px;
    margin-bottom: 16px;
    grid-column: 1 / 3;
    height: 0.25px;
    background-color: var(--color-gray);
}
@media (min-width: 1440px)  {
    .cd-reg--div__TABLE_LINE {
        grid-column: 1 / 5;
        margin-bottom: 10px;
    }
    @-moz-document url-prefix() {
        .cd-reg--div__TABLE_LINE {
            height: 1px;
        }
    }
}




.cd-reg--div__TABLE_LINE._DESC {
    display: none;
}
@media (min-width: 1440px)  {
    .cd-reg--div__TABLE_LINE._DESC {
        display: flex;
    }
    .cd-reg--div__TABLE_LINE._DESC._2 {
        margin-top: 10px;
    }
}