
/* ---------- ********** |||||||||| СТРАНИЦА РЕШЕНИЯ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ PROD (ПРОДУКТЫ) ********** ---------- */


.in-prod {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .in-prod {
        margin-top: 100px;
        padding: 0px 80px;
    }
}




.in-prod--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.in-prod--p__TOP {
    margin-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .in-prod--p__TOP {
        font-size: 16px;
        line-height: 26px;
    }
}




#des .cdn-reg--div__REQUEST {
    transition: transform 0.7s, opacity 0.7s;
}