
/* ---------- ********** |||||||||| ДОМАШНЯЯ СТРАНИЦА |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ 2 - CAT (CATALOG) ********** ---------- */


.hm-cat {
    margin-top: 58px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .hm-cat {
        margin-top: 85px;
        padding: 0px 80px;
    } 
}




.hm-cat--div__CONT {
    padding-bottom: 86px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .hm-cat--div__CONT {
        padding-bottom: 0px;
    }
}




.hm-cat--div__BODY {
    margin-top: 30px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px)  {
    .hm-cat--div__BODY {
        margin-top: 42px;
    }
}




.hm-cat--ul__MENU {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 26px;
    list-style-type: none;
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
    transition: opacity 0.9s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-cat--ul__MENU {
        padding: 0px;
        grid-template-columns: repeat(4, auto);
        row-gap: 30px;
        column-gap: 46px;
        border: none;
    }
}




.hm-cat--li__MENU_ITEM {
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    transition: padding 0.25s, border 0.25s, opacity 0.9s, transform 0.7s;
    border-bottom: 0.25px solid var(--color-gray);
}
@media (min-width: 1440px) {
    .hm-cat--li__MENU_ITEM {
        padding-bottom: 0px;
        border: none !important;
    }
}

.__hm-cat--li__MENU_ITEM {
    border-bottom: 2px solid var(--color-blue);
}




.hm-cat--li__MENU_ITEM:last-of-type {
    padding-bottom: 0px;
    border-bottom: none;
}




.hm-cat--button__MENU_ITEM {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.7s;
}




.hm-cat--div__MENU_ITEM {
    aspect-ratio: 1 / 1;
    width: 50px;
    flex-shrink: 0;
    background-color: var(--color-gray);
    background: url("../../../../images/home/hm-cat_device.svg") center / contain no-repeat;
}
@media (min-width: 1440px) {
    .hm-cat--div__MENU_ITEM {
        width: 80px;
    }
}




.hm-cat--div__MENU_ITEM > img {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}




.hm-cat--span__MENU_ITEM {
    margin-left: 20px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black1);
    transition: all 0.2s;
    text-align: start;
}
@media (min-width: 1440px) {
    .hm-cat--span__MENU_ITEM {
        margin-left: 28px;
        margin-right: 0px;
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
    }
}

@media (any-hover: hover) {
    .hm-cat--button__MENU_ITEM:hover .hm-cat--span__MENU_ITEM {
        color: var(--color-blue);
    }
}
.hm-cat--button__MENU_ITEM:active .hm-cat--span__MENU_ITEM {
    color: var(--color-blue);
}

.__hm-cat--li__MENU_ITEM .hm-cat--span__MENU_ITEM {
    color: var(--color-blue);
}




.hm-cat--svg__MENU_ITEM {
    margin-left: auto;
    flex-shrink: 0;
    visibility: hidden;
    transition: all 0.25s;
}
.hm-cat--li__MENU_ITEM:has(.hm-cat--form__SUBMENU) .hm-cat--svg__MENU_ITEM {
    visibility: visible;
}
@media (min-width: 1440px) {
    .hm-cat--svg__MENU_ITEM {
       display: none;
    }
}

.__hm-cat--li__MENU_ITEM .hm-cat--svg__MENU_ITEM {
    transform: rotate(180deg);
}




.hm-cat--form__SUBMENU {
    margin-top: 0px;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    transition: margin-top 0.25s, max-height 0.25s, opacity 0.3s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-cat--form__SUBMENU {
        margin-top: 0px;
        padding-right: 10px;
        max-height: none;
        width: 22.5%;
        position: absolute;
        top: 239px;
        left: 0px;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-auto-rows: 1fr; */
        gap: 0px;
        background: linear-gradient(90deg, var(--color-gray) 0%, var(--color-gray) 100%) left top / 0.25px 100% no-repeat;
        overflow-y: auto;
        opacity: 0;
        animation: visib 0.7s forwards;
        transition: margin-top 0.7s, max-height 0.7s, opacity 0.5s, transform 0.7s;
    }
    @-moz-document url-prefix() {
        .hm-cat--form__SUBMENU {
            padding-right: 15px;
        }
    }
}
@media (max-width: 1439px) {
    .__hm-cat--li__MENU_ITEM .hm-cat--form__SUBMENU {
        margin-top: 10px;
        max-height: 350px;
    }
}
@media (min-width: 1440px) {
    .__hm-cat--li__MENU_ITEM .hm-cat--form__SUBMENU {
        margin-top: 0px;
        max-height: none;
        opacity: 1;
        visibility: visible;
        animation: none;
    }
}




.hm-cat--label__SUBMENU {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
    transition: all 0.2s;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .hm-cat--label__SUBMENU {
        margin-left: 0px;
        padding: 8px 32px;
        min-height: 110px;
        position: relative;
        border-left: solid 2px transparent;
        border-radius: 0px 7px 7px 0px;
        transition: all 0.2s;
    }

    .hm-cat--label__SUBMENU::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        border: 8px solid transparent;
        transition: all 0.2s;
    }
}

@media (min-width: 1440px) {
    .hm-cat--label__SUBMENU:has(.hm-cat--input__SUBMENU:checked) {
        background-color: var(--color-bluegray);
        border-left: solid 2px var(--color-red);
    }
    .hm-cat--label__SUBMENU:has(.hm-cat--input__SUBMENU:checked)::before {
        border-left-color: var(--color-red);
    }
}




.hm-cat--input__SUBMENU {
    position: absolute;
    visibility: hidden;
}




.hm-cat--span__SUBMENU {
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: var(--color-black1);
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .hm-cat--span__SUBMENU {
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        color: var(--color-black1);
    } 
}

@media (any-hover: hover) {
    .hm-cat--label__SUBMENU:hover .hm-cat--span__SUBMENU {
        color: var(--color-blue);
    }
}
.hm-cat--label__SUBMENU:active .hm-cat--span__SUBMENU {
    color: var(--color-blue);
}

.hm-cat--label__SUBMENU:has(.hm-cat--input__SUBMENU:checked) .hm-cat--span__SUBMENU {
    /* font-weight: 400; */
    text-shadow: 0px 0px var(--color-blue);
    color: var(--color-blue);
}





.hm-cat--a__SUBMENU {
    display: none;
}
@media (min-width: 1440px) {
    .hm-cat--a__SUBMENU {
        max-height: 0px;
        align-self: flex-start;
        display: flex;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-black1);
        overflow: hidden;
        transition: padding 0.4s, max-height 0.4s, color 0.2s;
    }

    .hm-cat--label__SUBMENU:has(.hm-cat--input__SUBMENU:checked) .hm-cat--a__SUBMENU {
        padding-top: 10px;
        max-height: 40px;
    }

    @media (any-hover: hover) {
        .hm-cat--a__SUBMENU:hover {
            color: var(--color-red);
        }
    }
    .hm-cat--a__SUBMENU:active {
        color: var(--color-red);
    }
}






.hm-cat--div__MAIN {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
@media (min-width: 1440px) {
    .hm-cat--div__MAIN {
        margin-top: 50px;
        justify-content: space-between;
        gap: 44px;
    }
}




.hm-cat--div__LEFT {
    display: none;
}
@media (min-width: 1440px) {
    .hm-cat--div__LEFT {
        flex: 0 0 23%;
        display: flex;
    }
}




.hm-cat--div__CONTENT {
    margin: 0px auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    transition: all 0.7s;
}
@media (min-width: 768px) {
    .hm-cat--div__CONTENT {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .hm-cat--div__CONTENT {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .hm-cat--div__CONTENT {
        margin: 0px;
        flex: 0 1 72.7%;
    }
}
@media (min-width: 1500px) {
    .hm-cat--div__CONTENT {
        margin: 0px;
        flex: 0 1 73%;
    }
}
@media (min-width: 1730px) {
    .hm-cat--div__CONTENT {
        flex: 0 1 73.8%;
    }
}




.hm-cat--article__CARD {
    padding-bottom: 20px;
    /* width: 328px; */
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0px;
    background-color: hsl(0, 0%, 100%);
    transition: opacity 0.9s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-cat--article__CARD {
        margin-bottom: 24px;
        padding-bottom: 0px;
        /* width: auto; */
        grid-row: span 6;
        row-gap: 0px;
    }
    @media (any-hover: hover) {
        .hm-cat--article__CARD:hover {
            transform: scale(1.05);
            z-index: 3;
        }

        .hm-cat--article__CARD:hover .hm-cat--a__CARD_TAG {
            transform: scale(calc(1 / 1.05));
        }

        .hm-cat--article__CARD:hover .hm-cat--button__CARD_PRICE {
            transform: scale(calc(1 / 1.05));
        }

        .hm-cat--article__CARD:hover .hm-cat--div__SWIPER_PAGINATION {
            transform: scale(calc(1 / 1.05));
        }
    }
}

.__hm-cat--article__CARD {
    transition: opacity 0.9s, transform 0.3s !important;
}




.hm-cat--article__CARD::before {
    content: "";
    position: absolute;
    inset: 0px;
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
    transition: bottom 0.3s, box-shadow 0.3s;
}
@media (max-width: 1439px) {
    .hm-cat--article__CARD:hover::before {
        box-shadow: var(--block-shadow);
    }
}
@media (min-width: 1440px) {
    @media (any-hover: hover) {
        .hm-cat--article__CARD:hover::before {
            bottom: -38px;
            box-shadow: var(--block-shadow);
            background-color: hsl(0, 0%, 100%);
        }
    }
}




@media (max-width: 1199px) {
    #home .hm-cat--article__CARD:nth-last-of-type(-n+2) {
        display: none;
    }
}




.hm-cat--div__CARD_IMAGE {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}




.hm-cat--div__SWIPER {
    padding-bottom: 11px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}




.hm-cat--div__SWIPER_SLIDE_CONT {
    aspect-ratio: 1 / 1;
    width: 100%;
    background: url("images/home/hm-common_logo.svg") center / 250px no-repeat;
    border-radius: 10px;
}




.hm-cat--div__SWIPER_SLIDE_CONT:has(img) {
    background: transparent;
}




.hm-cat--img__SWIPER_SLIDE {
    aspect-ratio: 1 / 1;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 10px;
}




.hm-cat--div__SWIPER_PAGINATION {
    top: auto !important;
    bottom: 0px !important;
    transition: transform 0.3s;
}




.hm-cat--div__SWIPER_PAGINATION .swiper-pagination-bullet {
    margin: 0px 7px !important;
    height: 5px;
    width: 26px;
    position: relative;
    background-color: transparent;
    /* background: linear-gradient(180deg, transparent 2px, var(--color-gray) 2px, var(--color-gray) 3px, transparent 3px); */
    opacity: 1;
    border-radius: 0px;
}




.hm-cat--div__SWIPER_PAGINATION .swiper-pagination-bullet::before {
    content: "";
    height: 1px;
    position: absolute;
    inset: 2px 0px auto 0px;
    background-color: var(--color-gray);
    transition: all 0.7s;
}




.hm-cat--div__SWIPER_PAGINATION .swiper-pagination-bullet-active::before {
    background-color: var(--color-red);
}




.hm-cat--div__CARD_SENSOR {
    position: absolute;
    inset: 0px;
    display: none;
}
@media (min-width: 1440px) {
    .hm-cat--div__CARD_SENSOR {
        margin-bottom: 14px;
        z-index: 2;
        display: flex;
        cursor: pointer;
    }
}




.hm-cat--div__CARD_SENSOR_ITEM {
    flex: 1 1 0%;
}




.hm-cat--a__CARD_TAG {
    padding: 0px 20px;
    position: absolute;
    top: 21px;
    left: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 26px;
    color: var(--color-black1);
    border: 0.25px solid var(--color-red);
    border-radius: 7px;
    transition: box-shadow 0.2s, transform 0.3s;
}
@media (min-width: 1440px) {
    .hm-cat--a__CARD_TAG {
        top: 28px;
        left: 32px;
    }
}
.hm-cat--a__CARD_TAG:hover {
    box-shadow: var(--red-shadow);
}




.hm-cat--div__CARD_BTNS {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 27px;
}
@media (min-width: 1440px) {
    .hm-cat--div__CARD_BTNS {
        top: 27px;
        right: 32px;
        animation: visib 0.7s forwards;
        opacity: 0;
        transition: all 0.7s;
    }

    @media (any-hover: hover) {
        .hm-cat--article__CARD:hover .hm-cat--div__CARD_BTNS {
            visibility: visible;
            animation: none;
            opacity: 1;
        }
    }
}




.hm-cat--button__CARD_COMPARISON,
.hm-cat--button__CARD_FAVOURITES {
    flex-shrink: 0;
} 




.hm-cat--button__CARD_COMPARISON path,
.hm-cat--button__CARD_FAVOURITES path {
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    @media (any-hover: hover) {
        .hm-cat--button__CARD_COMPARISON:hover path,
        .hm-cat--button__CARD_FAVOURITES:hover path {
            fill: hsl(0, 0%, 59%);
        }
    }
}

.__hm-cat--button__CARD_COMPARISON path,
.__hm-cat--button__CARD_FAVOURITES path {
    fill: hsl(0, 0%, 59%);
}




.hm-cat--img__CARD_GISP {
    width: 40px;
    position: absolute;
    bottom: 31px;
    left: 20px;
    z-index: 3;
}
@media (min-width: 1440px) {
    .hm-cat--img__CARD_GISP {
        bottom: 31px;
        left: 32px;
    }
}




.hm-cat--a__CARD_NAME {
    margin-top: 14px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
@media (min-width: 1440px) {
    .hm-cat--a__CARD_NAME {
        margin-top: 12px;
        padding: 0px 32px;
        position: relative;
        pointer-events: none;
    }
}




.hm-cat--a__CARD_NAME::before {
    content: "";
    position: absolute;
    inset: 0px;
}




.hm-cat--p__CARD_NAME1 {
    font-size: 23px;
    line-height: 28px;
    color: var(--color-black1);
}



.hm-cat--p__CARD_NAME2 {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: var(--color-black1);
}




.hm-cat--p__CARD_TEXT {
    display: none;
}
@media (min-width: 1440px) {
    .hm-cat--p__CARD_TEXT {
        margin-top: 16px;
        padding: 0px 32px;
        position: relative;
        /* max-height: calc(20px * 2); */
        /* width: 100%; */
        /* min-width: 0; */
        display: -webkit-box;
        /* display: flex; */
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        /*! autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }
}
@media (min-width: 1920px) {
    .hm-cat--p__CARD_TEXT {
        /* max-height: calc(20px * 3); */
        -webkit-line-clamp: 3;
    }
}




.hm-cat--ul__CARD_PARAMS {
    margin: 16px 0px 0px 23px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}
@media (min-width: 1440px) {
    .hm-cat--ul__CARD_PARAMS {
        padding: 0px 32px;
        gap: 3px;
    }
}




.hm-cat--li__CARD_PARAM {
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .hm-cat--li__CARD_PARAM {
        font-size: 12px;
        line-height: 18px;
    }
}




.hm-cat--li__CARD_PARAM::before {
    content: "";
    height: 2px;
    width: 2px;
    position: absolute;
    top: 9px;
    left: -12px;
    background-color: var(--color-black1);
    border-radius: 50%;
}




.hm-cat--div__CARD_PRICE {
    margin-top: 14px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
@media (min-width: 1440px) {
    .hm-cat--div__CARD_PRICE {
        padding: 0px 32px;
        position: relative;
    }
}




.hm-cat--p__CARD_PRICE_CUR {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 17px;
    line-height: 32px;
    color: var(--color-black1);
}




.hm-cat--span__CARD_PRICE_CUR {
    font-weight: 400;
}




.hm-cat--p__CARD_PRICE_OLD {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 17px;
    line-height: 32px;
    color: var(--color-gray);
}




.hm-cat--span__CARD_PRICE_OLD {
    font-weight: 400;
}




.hm-cat--span__CARD_PRICE_OLD:first-of-type {
    text-decoration: line-through;
}




.hm-cat--button__CARD_PRICE {
    height: 36px;
    width: 36px;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 100%;
    color: var(--color-black1);
    border: 0.25px solid var(--color-red);
    border-radius: 6px;
    cursor: auto;
    transition: box-shadow 0.2s, transform 0.3s;
}

.hm-cat--button__CARD_PRICE:hover {
    box-shadow: var(--red-shadow);
}




.hm-cat--a__CARD {
    display: none;
}
@media (min-width: 1440px) {
    .hm-cat--a__CARD {
        margin: 0px 32px;
        max-height: 0px;
        position: absolute;
        inset: auto 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        color: var(--color-red);
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
    }

    @media (any-hover: hover) {
        .hm-cat--article__CARD:hover .hm-cat--a__CARD {
            padding: 16px 0px 22px;
            max-height: 50px;
            border-top: 0.25px solid var(--color-gray);
            transform: translateY(40px);
            opacity: 1;
        }
    }
}




.hm-cat--a__CARD path {
    stroke-width: 1px;
}




.hm-cat--img__ATOMS {
    display: none;
    position: absolute;
    left: 0px;
}
@media (min-width: 1440px) {
    .hm-cat--img__ATOMS {
        display: flex;
        position: absolute;
        left: -56px;
        bottom: 340px;
        z-index: -1;
    }
}