
/* ---------- ********** |||||||||| СТРАНИЦА КАРТОЧКА СЕРИИ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ MED ********** ---------- */


.cd-med {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .cd-med {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.cd-med--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-med--div__CONT {
        align-items: flex-end;
    }
}




.cd-med--div__CONT2 {
    margin-bottom: 68px;
    padding-bottom: 86px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .cd-med--div__CONT2 {
        margin-bottom: 100px;
        padding-bottom: 0px;
        width: 63%;
    }
}




.cd-med--div__CONT2 .c-common--h2.LEFT.__C-SCRL {
    transform: translate(-100px, 0px) !important;
}




.cd-med--svg__SUBMENU {
    transition: all 0.3s;
}
@media (min-width: 1440px) {
    .cd-med--svg__SUBMENU {
        display: none;
    }
}

.__cd-med--svg__SUBMENU {
    transform: rotate(180deg);
}




.cd-med--form__SUBMENU {
    max-height: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.25s, margin-top 0.25s, opacity 0.25s, transform 0.7s;
}
@media (min-width: 1440px) {
    .cd-med--form__SUBMENU {
        margin-top: 35px !important;
        padding-bottom: 36px;
        max-height: none !important;
        position: relative;
        align-self: flex-start;
        grid-template-columns: repeat(4, auto);
        grid-auto-columns: auto;
        column-gap: 100px;
        opacity: 1;
        transition: transform 0.7s, opacity 0.7s;
    }
}

@media (max-width: 1439px) {
    .__cd-med--form__SUBMENU {
        margin-top: 30px;
        max-height: 650px;
        opacity: 1;
    }
}




.cd-med--label__SUBMENU {
    padding: 10px 12px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-left: solid 2px transparent;
    border-radius: 0px 7px 7px 0px;
    transition: all 0.2s;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .cd-med--label__SUBMENU {
        margin-left: 0px;
        padding: 0px;
        position: relative;
        border: none;
        transition: all 0.2s;
    }
}




@media (max-width: 1439px) {
    .cd-med--label__SUBMENU:has(.cd-med--input__SUBMENU:checked) {
        z-index: 4;
        background-color: var(--color-bluegray);
        border-left: solid 2px var(--color-red);
    }
}




@media (max-width: 1439px) {
    .cd-med--label__SUBMENU::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        border: 8px solid transparent;
        transition: all 0.2s;
    }
    
    .cd-med--label__SUBMENU:has(.cd-med--input__SUBMENU:checked)::before {
        border-left-color: var(--color-red);
    }
}




.cd-med--input__SUBMENU {
    position: absolute;
    visibility: hidden;
}




.cd-med--span__SUBMENU {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black1);
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .cd-med--span__SUBMENU {
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        color: var(--color-black1);
    } 
}
@media (min-width: 1550px) {
    .cd-med--span__SUBMENU {
        font-size: 21px;
        line-height: 32px;
    } 
}

@media (any-hover: hover) {
    .cd-med--label__SUBMENU:hover .cd-med--span__SUBMENU {
        color: var(--color-blue);
    }
}
.cd-med--label__SUBMENU:active .cd-med--span__SUBMENU {
    color: var(--color-blue);
}

.cd-med--label__SUBMENU:has(.cd-med--input__SUBMENU:checked) .cd-med--span__SUBMENU {
    color: var(--color-blue);
}




.cd-med--div__LINE1 {
    display: none;
}
@media (min-width: 1440px) {
    .cd-med--div__LINE1 {
        height: 0.25px;
        display: flex;
        position: relative;
        background-color: var(--color-gray);
        transition: transform 0.7s, opacity 0.7s;
    }
    @-moz-document url-prefix() {
        .cd-med--div__LINE1 {
            height: 1px;
        }
    }
}




.cd-med--div__LINE2 {
    height: 2px;
    width: 46px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    background-color: var(--color-red);
    transition: transform 0.3s;
}

.cd-med--div__CONT2:has(.cd-med--label__SUBMENU:nth-of-type(1) > .cd-med--input__SUBMENU:checked) .cd-med--div__LINE2 {
    transform: translateX(0px);
}

.cd-med--div__CONT2:has(.cd-med--label__SUBMENU:nth-of-type(2) > .cd-med--input__SUBMENU:checked) .cd-med--div__LINE2 {
    transform: translateX(163px);
}

.cd-med--div__CONT2:has(.cd-med--label__SUBMENU:nth-of-type(3) > .cd-med--input__SUBMENU:checked) .cd-med--div__LINE2 {
    transform: translateX(331px);
}

.cd-med--div__CONT2:has(.cd-med--label__SUBMENU:nth-of-type(4) > .cd-med--input__SUBMENU:checked) .cd-med--div__LINE2 {
    transform: translateX(514px);
}


@media (min-width: 1550px) {
    .cd-med--div__CONT2:has(.cd-med--label__SUBMENU:nth-of-type(3) > .cd-med--input__SUBMENU:checked) .cd-med--div__LINE2 {
        transform: translateX(332px);
    }
    
    .cd-med--div__CONT2:has(.cd-med--label__SUBMENU:nth-of-type(4) > .cd-med--input__SUBMENU:checked) .cd-med--div__LINE2 {
        transform: translateX(516px);
    }
}




.cd-med--div__SWIPER2 {
    margin-top: 30px;
    width: calc(100% + 20px);
    position: relative;
    top: -10px;
    left: -10px;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .cd-med--div__SWIPER2 {
        margin-top: 62px;
    }
}




.cd-med--div__SWIPER2_WRAPPER {
    box-sizing: border-box;
    align-items: stretch;
}




.cd-med--div__SWIPER2_SLIDE {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
}




.cd-med--div__SWIPER2_SLIDE:not(.swiper-slide-active) {
    position: relative;
    z-index: -2;
    opacity: 0 !important;
}




.cd-med--div__SWIPER21,
.cd-med--div__SWIPER22,
.cd-med--div__SWIPER23,
.cd-med--div__SWIPER24 {
    padding: 10px;
    width: 100%;
}
@media (min-width: 1440px) {
    .cd-med--div__SWIPER21,
    .cd-med--div__SWIPER22,
    .cd-med--div__SWIPER23,
    .cd-med--div__SWIPER24 {
        padding: 10px 10px 64px 10px;
    }
}




.cd-med--div__SWIPER21_WRAPPER,
.cd-med--div__SWIPER22_WRAPPER,
.cd-med--div__SWIPER23_WRAPPER,
.cd-med--div__SWIPER24_WRAPPER {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}
@media (min-width: 768px) {
    .cd-med--div__SWIPER21_WRAPPER,
    .cd-med--div__SWIPER22_WRAPPER,
    .cd-med--div__SWIPER23_WRAPPER,
    .cd-med--div__SWIPER24_WRAPPER {
        grid-template-columns: 1fr 1fr;
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .cd-med--div__SWIPER21_WRAPPER,
    .cd-med--div__SWIPER22_WRAPPER,
    .cd-med--div__SWIPER23_WRAPPER,
    .cd-med--div__SWIPER24_WRAPPER {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1440px) {
    .cd-med--div__SWIPER21_WRAPPER,
    .cd-med--div__SWIPER22_WRAPPER,
    .cd-med--div__SWIPER23_WRAPPER,
    .cd-med--div__SWIPER24_WRAPPER {
        grid-auto-flow: column;
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 0px;
    }
}




.cd-med--div__SWIPER21_SLIDE,
.cd-med--div__SWIPER22_SLIDE,
.cd-med--div__SWIPER23_SLIDE,
.cd-med--div__SWIPER24_SLIDE {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    pointer-events: all !important;
}




.cd-med--div__SWIPER21_NAV,
.cd-med--div__SWIPER22_NAV,
.cd-med--div__SWIPER23_NAV,
.cd-med--div__SWIPER24_NAV {
    margin-left: auto;
    height: 38px;
    position: absolute;
    right: 10px;
    bottom: 2px;
    display: none;
    align-items: center;
    border: 0.25px solid var(--color-gray);
    border-radius: 12px;
}
@media (min-width: 1440px) {
    .cd-med--div__SWIPER21_NAV,
    .cd-med--div__SWIPER22_NAV,
    .cd-med--div__SWIPER23_NAV,
    .cd-med--div__SWIPER24_NAV {
        display: flex;
    }
}




.cd-med--button__SWIPER21_PREV,
.cd-med--button__SWIPER21_NEXT,
.cd-med--button__SWIPER22_PREV,
.cd-med--button__SWIPER22_NEXT,
.cd-med--button__SWIPER23_PREV,
.cd-med--button__SWIPER23_NEXT,
.cd-med--button__SWIPER24_PREV,
.cd-med--button__SWIPER24_NEXT {
    padding: 9px 14px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}




.cd-med--button__SWIPER21_PREV.swiper-button-disabled,
.cd-med--button__SWIPER21_NEXT.swiper-button-disabled,
.cd-med--button__SWIPER22_PREV.swiper-button-disabled,
.cd-med--button__SWIPER22_NEXT.swiper-button-disabled,
.cd-med--button__SWIPER23_PREV.swiper-button-disabled,
.cd-med--button__SWIPER23_NEXT.swiper-button-disabled,
.cd-med--button__SWIPER24_PREV.swiper-button-disabled,
.cd-med--button__SWIPER24_NEXT.swiper-button-disabled {
    opacity: 0.4;
    cursor: auto;
}




.cd-med--button__SWIPER21_PREV svg,
.cd-med--button__SWIPER22_PREV svg,
.cd-med--button__SWIPER23_PREV svg,
.cd-med--button__SWIPER24_PREV svg {
    transform: rotate(180deg);
}




.cd-med--div__SWIPER21_NAV_LINE,
.cd-med--div__SWIPER22_NAV_LINE,
.cd-med--div__SWIPER23_NAV_LINE,
.cd-med--div__SWIPER24_NAV_LINE {
    height: 16px;
    width: 0.25px;
    flex-shrink: 0;
    background-color: var(--color-gray);
}




@media (min-width: 1440px) {
    .cd-med--div__SWIPER21_SLIDE .hm-pre--a__CARD_TAG1 {
        margin: 32px 0px 0px 32px;
    }
}