
/* ---------- ********** |||||||||| СТРАНИЦА SUP |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ SRV ********** ---------- */


.sup-srv {
    padding: 0px 16px 58px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .sup-srv {
        padding: 0px 80px 90px;
    } 
}




.sup-srv--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.sup-srv .c-common--h2 {
    max-width: none;
}




.sup-srv--div__MAIN {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .sup-srv--div__MAIN {
        margin-top: 42px;
    }
}




.sup-srv .st-main--p__DESCR3_TOP {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .sup-srv .st-main--p__DESCR3_TOP {
        margin-top: 44px;
    }
}




.sup-srv .st-main--div__SPH {
    margin-top: 30px;
}
@media (min-width: 1440px)  {
    .sup-srv .st-main--div__SPH {
        margin-top: 44px;
    }
}




.sup-srv .st-main--ul__SPH {
    grid-template-columns: 1fr;
}
@media (min-width: 1440px)  {
    .sup-srv .st-main--ul__SPH {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
    }
}




.sup-srv .st-main--svg__SPH {
    margin-top: 5px;
}




.sup-srv--div__ITEM {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 1440px) {
    .sup-srv--div__ITEM {
        margin-top: 100px;
        gap: 42px;
    }
}




.sup-srv--div__ITEM .st-main--div__IMAGE7 {
    margin-top: 0px;
}




@media (min-width: 1440px) {
    .sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7 {
        flex-direction: row;
        gap: 100px;
    }
    .sup-srv--div__ITEM:nth-of-type(odd) .st-main--div__IMAGE7 {
        gap: 100px;
    }
}




@media (min-width: 1440px) {
    .sup-srv .st-main--div__IMAGE7_IMAGE_COMMON {
        flex: 1 1 46%;
    }
}
@media (min-width: 1920px) {
    .sup-srv .st-main--div__IMAGE7_IMAGE_COMMON {
        flex: 1 1 38.3%;
    }
}




@media (min-width: 1440px) {
    .sup-srv .st-main--div__IMAGE7_TEXT {
        flex: 1 1 46%;
    }
}
@media (min-width: 1920px) {
    .sup-srv .st-main--div__IMAGE7_TEXT {
        flex: 1 1 55.4%;
    }
}




@media (min-width: 1440px) {
    .sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7_IMAGE_COMMON.__C-SCRL {
        transform: translate(-150px, 0px) !important;
    }
}




@media (min-width: 1440px) {
    .sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7_TEXT.__C-SCRL {
        transform: translate(150px, 0px) !important;
    }
}




.sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7_IMAGE_BIG {
    margin: 0px 12.5% 12.5% 0px;
}
@media (min-width: 1440px) {
    .sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7_IMAGE_BIG {
        margin: 0px 8.5% 8.5% 0px;
        border-radius: 18px;
    }
    .sup-srv--div__ITEM:nth-of-type(odd) .st-main--div__IMAGE7_IMAGE_BIG {
        margin: 0px 0% 8.5% 8.5%;
        border-radius: 18px;
    }
}
@media (min-width: 1920px) {
    .sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7_IMAGE_BIG {
        margin: 0px 9.5% 9.5% 0px;
    }
    .sup-srv--div__ITEM:nth-of-type(odd) .st-main--div__IMAGE7_IMAGE_BIG {
        margin: 0px 0% 9.5% 9.5%;
    }
}




.sup-srv--div__ITEM:nth-of-type(even) .st-main--div__IMAGE7_IMAGE_SMALL {
    left: auto;
    right: 0px;
}
@media (min-width: 1440px) {
    .sup-srv--div__ITEM .st-main--div__IMAGE7_IMAGE_SMALL {
        width: 18%;
    }
}




.sup-srv .st-main--img__IMAGE7_IMAGE_SMALL:last-of-type {
    position: absolute;
    inset: 0px;
    opacity: 0;
    transition: opacity 0.25s;
}
@media (max-width: 1439px) {
    .sup-srv .st-main--div__IMAGE7_IMAGE_SMALL.__C-SCRL3 .st-main--img__IMAGE7_IMAGE_SMALL:last-of-type {
        opacity: 1;
    }
}

@media (min-width: 1440px) {
    @media (any-hover: hover) {
        .sup-srv .st-main--div__IMAGE7_IMAGE_COMMON:hover .st-main--img__IMAGE7_IMAGE_SMALL:last-of-type {
            opacity: 1;
        }
    }
    .sup-srv .st-main--div__IMAGE7_IMAGE_COMMON:active .st-main--img__IMAGE7_IMAGE_SMALL:last-of-type {
        opacity: 1;
    }
}




.sup-srv .st-main--p__IMAGE7_BODY:nth-of-type(n+3) {
    margin-top: 10px;
}




.sup-srv .sup-srv--div__ITEM .st-main--div__SPH {
    margin-top: 0px;
}




@media (min-width: 1440px) {
    .sup-srv .sup-srv--div__ITEM .st-main--ul__SPH {
        grid-template-columns: 1fr;
    }
}