
/* ---------- ********** |||||||||| СТРАНИЦА КАТАЛОГ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ ABT ********** ---------- */


.ct-abt {
    margin: 68px 0px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .ct-abt {
        margin: 100px 0px;
        padding: 0px 80px;
    } 
}




.ct-abt--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.ct-abt--h2 {
    font-family: var(--font2);
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    align-self: flex-start;
    color: var(--color-black1);
    text-transform: uppercase;
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .ct-abt--h2 {
        font-size: 42px;
        line-height: 42px;
    }
}




.ct-abt--div__MAIN {
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .ct-abt--div__MAIN {
        margin-top: 44px;
    }
}




.ct-abt--div__MAIN_TOP {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1440px) {
    .ct-abt--div__MAIN_TOP {
        flex-direction: row;
        justify-content: space-between;
        gap: 0px;
    }
}




.ct-abt--div__IMAGE_CONT {
    margin: 0 auto;
    aspect-ratio: 77 / 50;
    min-height: 213px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/home/hm-common_logo.svg") center / contain no-repeat;
    border-radius: 10px;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .ct-abt--div__IMAGE_CONT {
        padding-right: 70px;
        aspect-ratio: auto;
        height: 370px;
        width: auto;
        width: 50%;
        border-radius: 24px;
    }
}




.ct-abt--div__IMAGE_CONT:has(img) {
    background: none;
}




.ct-abt--div__IMAGE_CONT img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
/* @media (min-width: 1440px) {
    .ct-abt--div__IMAGE_CONT img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
    }
} */




.ct-abt--div__MAIN_TOP_TEXT {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .ct-abt--div__MAIN_TOP_TEXT {
        width: 50%;
    }
}




@media (min-width: 1440px) {
    .ct-abt .st-main--p__DESCR2 {
        margin-top: 24px;
    }
}