/* ---------- ********** СЕКЦИЯ IND ********** ---------- */


.hm-ind {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .hm-ind {
        margin-top: 76px;
        padding: 0px 80px;
    }
}




.hm-ind--div__CONT {
    padding-bottom: 86px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .hm-ind--div__CONT {
        padding-bottom: 0px;
    }
}




@media (min-width: 1440px) {
    .hm-ind--div__HEAD {
        position: relative;
        pointer-events: none;
    }
}




@media (min-width: 1440px) {
    .hm-ind--a__ALL {
        pointer-events: all;
    }
}




.hm-ind--svg__SUBMENU {
    transition: all 0.3s;
}
@media (min-width: 1440px) {
    .hm-ind--svg__SUBMENU {
        display: none;
    }
}

.__hm-ind--svg__SUBMENU {
    transform: rotate(180deg);
}




.hm-ind--form__SUBMENU {
    max-height: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.25s, margin-top 0.25s, opacity 0.25s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-ind--form__SUBMENU {
        margin-top: 0px;
        padding-right: 10px;
        width: 22.5%;
        position: absolute;
        top: 138px;
        left: 0px;
        grid-auto-rows: auto;
        background: linear-gradient(90deg, var(--color-gray) 0%, var(--color-gray) 100%) left top / 0.25px 100% no-repeat;
        opacity: 1;
        overflow-y: auto;
        transition: max-height 0.7s, margin-top 0.7s, opacity 0.9s, transform 0.7s;
    }
    @-moz-document url-prefix() {
        .hm-ind--form__SUBMENU {
            padding-right: 15px;
        }
    }
}

.__hm-ind--form__SUBMENU {
    margin-top: 30px;
    max-height: 650px;
    opacity: 1;
}
@media (min-width: 1440px) {
    .__hm-ind--form__SUBMENU {
        margin-top: 0px;
        max-height: none;
        opacity: 1;
        visibility: visible;
        animation: none;
    }
}




.hm-ind--div__SUBMENU_BACK {
    display: none;
    position: absolute;
    height: 32px;
    width: calc(22.5% - 10px);
    left: 0px;
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 100%), hsla(0, 0%, 100%, 0%));
    pointer-events: none;
}
@media (min-width: 1440px) {
    .hm-ind--div__SUBMENU_BACK {
        display: flex;
    }
}




.hm-ind--label__SUBMENU {
    padding: 10px 12px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-left: solid 2px transparent;
    border-radius: 0px 7px 7px 0px;
    transition: all 0.2s;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .hm-ind--label__SUBMENU {
        margin-left: 0px;
        padding: 8px 32px;
        min-height: 110px;
        position: relative;
        transition: all 0.2s;
    }
}

/* @media (any-hover: hover) {
    .hm-ind--label__SUBMENU:hover {
        background-color: var(--color-bluegray);
        border-left: solid 2px var(--color-red);
    }
}
.hm-ind--label__SUBMENU:active {
    background-color: var(--color-bluegray);
    border-left: solid 2px var(--color-red);
} */

.hm-ind--label__SUBMENU:has(.hm-ind--input__SUBMENU:checked) {
    z-index: 4;
    background-color: var(--color-bluegray);
    border-left: solid 2px var(--color-red);
}




.hm-ind--label__SUBMENU::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    border: 8px solid transparent;
    transition: all 0.2s;
}

.hm-ind--label__SUBMENU:has(.hm-ind--input__SUBMENU:checked)::before {
    border-left-color: var(--color-red);
}




.hm-ind--input__SUBMENU {
    position: absolute;
    visibility: hidden;
}




.hm-ind--span__SUBMENU {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black1);
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .hm-ind--span__SUBMENU {
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: var(--color-black1);
    }
}
@media (min-width: 1550px) {
    .hm-ind--span__SUBMENU {
        font-size: 21px;
    }
}

@media (any-hover: hover) {
    .hm-ind--label__SUBMENU:hover .hm-ind--span__SUBMENU {
        color: var(--color-blue);
    }
}
.hm-ind--label__SUBMENU:active .hm-ind--span__SUBMENU {
    color: var(--color-blue);
}

.hm-ind--label__SUBMENU:has(.hm-ind--input__SUBMENU:checked) .hm-ind--span__SUBMENU {
    color: var(--color-blue);
}





.hm-ind--a__SUBMENU {
    display: none;
}
@media (min-width: 1440px) {
    .hm-ind--a__SUBMENU {
        max-height: 0px;
        align-self: flex-start;
        display: flex;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-black1);
        overflow: hidden;
        transition: padding 0.4s, max-height 0.4s, color 0.2s;
    }

    .hm-ind--label__SUBMENU:has(.hm-ind--input__SUBMENU:checked) .hm-ind--a__SUBMENU {
        padding-top: 10px;
        max-height: 40px;
    }

    @media (any-hover: hover) {
        .hm-ind--a__SUBMENU:hover {
            color: var(--color-red);
        }
    }
    .hm-ind--a__SUBMENU:active {
        color: var(--color-red);
    }
}




.hm-ind--div__CONTENT {
    position: relative;
}




.hm-ind--article__CARD {
    padding-top: 20px;
    /* width: 328px; */
    width: 100%;
    min-width: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0px;
    background-color: hsl(0, 0%, 100%);
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
    overflow: hidden;
    transition: opacity 0.9s, transform 0.7s, box-shadow 0.3s;
}
@media (min-width: 1440px) {
    .hm-ind--article__CARD {
        padding-top: 32px;
        /* width: auto; */
    }
}

.hm-ind--article__CARD:hover {
    box-shadow: var(--block-shadow);
}




.hm-ind--a__CARD_TAG {
    padding: 2px 20px;
    justify-self: start;
    display: flex;
    align-items: flex-start;
    gap: 14px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .hm-ind--a__CARD_TAG {
        padding: 2px 32px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media (any-hover: hover) {
    .hm-ind--a__CARD_TAG:hover {
        font-weight: 500;
    }
}
.hm-ind--a__CARD_TAG:active {
    font-weight: 500;
}




.hm-ind--div__CARD_TAG_CIRCLE {
    margin-top: 4px;
    height: 8px;
    width: 8px;
    flex-shrink: 0;
    border-radius: 50%;
}
@media (min-width: 1440px) {
    .hm-ind--div__CARD_TAG_CIRCLE {
        margin-top: 7px;
        height: 12px;
        width: 12px;
    }
}
.color-yellow .hm-ind--div__CARD_TAG_CIRCLE {
    background-color: var(--color-yellow);
}
.color-green .hm-ind--div__CARD_TAG_CIRCLE {
    background-color: var(--color-green);
}
.color-mare .hm-ind--div__CARD_TAG_CIRCLE {
    background-color: var(--color-mare);
}




.hm-ind--p__CARD_NAME {
    margin-top: 16px;
    padding: 0px 20px;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .hm-ind--p__CARD_NAME {
        padding: 0px 32px;
        font-size: 23px;
        line-height: 28px;
    }
}




.hm-ind--p__CARD_TEXT {
    margin-top: 16px;
    padding: 0px 20px;
    /* max-height: calc(20px * 2); */
    /* width: 100%; */
    /* min-width: 0; */
    /* position: relative; */
    display: -webkit-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}
@media (min-width: 1440px) {
    .hm-ind--p__CARD_TEXT {
        padding: 0px 32px;
        /* max-height: calc(26px * 2); */
        font-size: 16px;
        line-height: 26px;
    }
}
@media (min-width: 1920px) {
    .hm-ind--p__CARD_TEXT {
        /* max-height: calc(26px * 4); */
        -webkit-line-clamp: 4;
    }
}




.hm-ind--div__CARD_IMAGE {
    margin-top: 40px;
    aspect-ratio: 7 / 5;
    position: relative;
    bottom: -1px;
    background: url("images/home/hm-common_logo.svg") center / 250px no-repeat;
    border-radius: 10px;
}
@media (min-width: 1440px) {
    .hm-ind--div__CARD_IMAGE {
        margin-top: 52px;
        bottom: auto;
    }
}




/* .hm-ind--div__CARD_IMAGE:has(img) {
    background: transparent;
} */




.hm-ind--div__CARD_IMAGE > img {
    aspect-ratio: 7 / 5;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 10px 10px 0px 0px;
}




.hm-ind--a__MORE {
    padding: 6px 12px;
    position: absolute;
    top: 0px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--color-red);
    border-radius: 7px;
    transform: translateY(-50%);
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .hm-ind--a__MORE {
        padding: 8px 13px;
        right: 32px;
    }
}




.hm-ind--a__MORE::before {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 35%;
    opacity: 0;
    transform: skew(-25deg, 0deg);
    /* background: linear-gradient(to right,hsla(0, 0%, 100%, 60%) 0%,hsla(0, 0%, 100%, 6%) 100%); */
    background: linear-gradient(to right,hsla(0, 0%, 100%, 68%) 0%,hsla(0, 0%, 100%, 5%) 100%);
    transition: all 0.2s;
    animation: button-to-right 2.5s infinite;
}
@media (any-hover: hover) {
    .hm-ind--a__MORE:hover::before {
        display: none;
    }
    .hm-ind--a__MORE:hover {
        background-color: var(--color-red-hover);
    }
}
.hm-ind--a__MORE:active::before {
    display: none;
}
.hm-ind--a__MORE:active {
    background-color: var(--color-red-hover);
}




.hm-ind--span__MORE {
    font-size: 12px;
    line-height: 26px;
    color: hsl(0, 0%, 100%);
}
@media (min-width: 1440px) {
    .hm-ind--span__MORE {
        font-size: 14px;
    }
}




.hm-ind--img__ATOMS {
    display: none;
}
@media (min-width: 1440px) {
    .hm-ind--img__ATOMS {
        display: inline;
        position: absolute;
        top: 0;
        left: 270px;
        z-index: -1;
    }
}






