
/* ---------- ********** |||||||||| СТРАНИЦА РЕШЕНИЯ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ РЕШЕНИЯ ********** ---------- */


.in-ind {
    margin-top: 68px;
    padding: 0px 16px 68px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .in-ind {
        margin-top: 100px;
        padding: 0px 80px 100px 80px;
    } 
}




.in-ind--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




#des .cd-use--div__SWIPER22 {
    margin-top: 20px;
    margin-left: -10px;
    padding: 10px 10px 64px 10px;
    width: calc(100% + 20px);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    #des .cd-use--div__SWIPER22 {
        margin-top: 42px;
    }
}




#des .cd-use--div__SWIPER22_WRAPPER {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    column-gap: 0px;
    row-gap: 0px;
}
@media (min-width: 768px) {
    #des .cd-use--div__SWIPER22_WRAPPER {
        grid-auto-flow: column;
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 0px;
    }
}
@media (min-width: 1200px) {
    #des .cd-use--div__SWIPER22_WRAPPER {
        grid-template-columns: auto;
    }
}
@media (min-width: 1440px) {
    #des .cd-use--div__SWIPER22_WRAPPER {
        grid-auto-flow: column;
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 0px;
    }
}




@media (min-width: 768px) {
    #des .cd-use--div__SWIPER22_SLIDE {
        grid-template-columns: 1fr;
        grid-row: span 2;
    }
}
@media (min-width: 1440px) {
    #des .cd-use--div__SWIPER22_SLIDE {
        grid-template-columns: 1fr;
        row-gap: 44px;
        grid-row: span 2;
    }
}




@media (min-width: 1440px) {
    #des .hm-des--article__CARD {
        width: 80%;
    }
}




@media (min-width: 1440px) {
    #des .hm-des--article__CARD:first-of-type {
        margin-right: auto;
    }
}




@media (min-width: 1440px) {
    #des .hm-des--article__CARD:last-of-type {
        margin-left: auto;
    }
}




@media (min-width: 1920px) {
    #des .cd-use--div__SWIPER22_SLIDE .hm-des--ul__CARD_LIST {
        display: flex;
    }
}




.cd-use--div__SWIPER22_NAV {
    margin-left: auto;
    height: 38px;
    position: absolute;
    right: 10px;
    bottom: 2px;
    display: flex;
    align-items: center;
    border: 0.25px solid var(--color-gray);
    border-radius: 12px;
}