
/* ---------- ********** |||||||||| СТРАНИЦА ОТРАСЛИ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ ADV (ПРЕИМУЩЕСТВА) ********** ---------- */


.in-adv {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .in-adv {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.in-adv--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.in-adv--div__TEXT {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1440px) {
    .in-adv--div__TEXT {
        margin-top: 42px;
        gap: 44px;
    }
}




.in-adv--p__TEXT1 {
    font-size: 19px;
    line-height: 27px;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .in-adv--p__TEXT1 {
        font-size: 23px;
        line-height: 33px;
    }
}




.in-adv--p__TEXT2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .in-adv--p__TEXT2 {
        font-size: 16px;
        line-height: 26px;
    }
}




.in-adv--a__TEXT2 {
    color: var(--color-blue);
    text-decoration: underline;
    text-underline-offset: 3px;
}




.in-adv--div__TABLE_CONT {
    margin-top: 30px;
    margin-left: -16px;
    padding: 16px;
    background-color: var(--color-bluegray);
}
@media (min-width: 1440px) {
    .in-adv--div__TABLE_CONT {
        margin-top: 62px;
        margin-left: -80px;
        padding: 90px 160px;
    }
}
@media (min-width: 1760px) {
    .in-adv--div__TABLE_CONT {
        margin-top: 62px;
        margin-left: calc((1600px - 100vw) / 2);
        padding: 90px calc(((100vw - 1600px) / 2) + 80px);
    }
}




.in-adv--div__TABLE {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: hsl(0, 0%, 100%);
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
}
@media (min-width: 1440px) {
    .in-adv--div__TABLE {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 44px;
        background-color: transparent;
        border: none;
        border-radius: 0px;
    }
}




.in-adv--div__ITEM {
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    border-bottom: 0.25px solid var(--color-gray);
    transition: border 0.25s, transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .in-adv--div__ITEM {
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: subgrid;
        grid-row: span 2;
        gap: 0px;
        background-color: hsl(0, 0%, 100%);
        border: 0.25px solid var(--color-gray);
        border-radius: 10px;
        box-shadow: var(--block-shadow);
    }
}

@media (max-width: 1439px) {
    .__in-adv--div__ITEM {
        border-bottom: 2px solid var(--color-blue);
    }
}




.in-adv--div__ITEM:last-of-type {
    padding-bottom: 0px;
    border-bottom: none !important;
}




.in-adv--button__ITEM_TOP {
    display: flex;
    align-items: center;
}
@media (min-width: 1440px) {
    .in-adv--button__ITEM_TOP {
        flex-direction: column;
        align-items: center;
        cursor: auto;
    }
}




.in-adv--div__ITEM_IMAGE {
    height: 36px;
    width: 36px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--color-gray);
}
@media (min-width: 1440px) {
    .in-adv--div__ITEM_IMAGE {
        height: 100px;
        width: 100px;
    }
}




.in-adv--img__ITEM_IMAGE {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}




.in-adv--p__ITEM_TOP {
    margin-left: 14px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black1);
    text-align: left;
}
@media (min-width: 1440px) {
    .in-adv--p__ITEM_TOP {
        margin: 32px 0px 0px;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
    }
}




.in-adv--svg__ITEM_TOP {
    margin-left: auto;
    flex-shrink: 0;
    transition: transform 0.25s;
}
@media (min-width: 1440px) {
    .in-adv--svg__ITEM_TOP {
        display: none;
    }
}

.__in-adv--div__ITEM .in-adv--svg__ITEM_TOP {
    transform: rotate(180deg);
}




.in-adv--p__ITEM_BODY {
    margin-top: 0px;
    padding-left: 50px;
    max-height: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    opacity: 0;
    overflow: hidden;
    transition: margin-top 0.25s, max-height 0.25s, opacity 0.25s;
}
@media (min-width: 1440px) {
    .in-adv--p__ITEM_BODY {
        margin-top: 20px;
        padding: 0px;
        max-height: none;
        opacity: 1;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
}

@media (max-width: 1439px) {
    .__in-adv--div__ITEM .in-adv--p__ITEM_BODY {
        margin-top: 14px;
        max-height: 550px;
        opacity: 1;
    }
}