
/* ---------- ********** |||||||||| СТРАНИЦА ОТРАСЛИ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ ADV (ПРЕИМУЩЕСТВА) ********** ---------- */


.in-adv {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .in-adv {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.in-adv--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.in-adv--div__TEXT {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1440px) {
    .in-adv--div__TEXT {
        margin-top: 42px;
        gap: 44px;
    }
}




.in-adv .st-main--p__DESCR2 {
    margin-top: 0px;
}
@media (min-width: 1440px) {
    .in-adv .st-main--p__DESCR2 {
        margin-top: 0px;
    }
}




.st-main--div__GRID2_CONT {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .st-main--div__GRID2_CONT {
        margin-top: 62px;
    }
}