
/* ---------- ********** |||||||||| СТРАНИЦА ОТРАСЛИ |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ DES (РЕШЕНИЕ) ********** ---------- */


.in-des {
    margin: 68px 0px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .in-des {
        margin: 100px 0px;
        padding: 0px 80px;
    } 
}




.in-des--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




.in-des .st-main--p__DESCR1 {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .in-des .st-main--p__DESCR1 {
        margin-top: 42px;
    }
}




@media (max-width: 1439px) {
    .in-des .st-main--div__STAGES {
        margin-top: 30px;
    }
}




.in-des .st-main--div__IMAGES9 {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .in-des .st-main--div__IMAGES9 {
        margin-top: 62px;
    }
}




.in-des .st-main--div__QUOTE {
    margin-top: 68px;
}
@media (min-width: 1440px) {
    .in-des .st-main--div__QUOTE {
        margin-top: 62px;
    }
}




.in-des .st-main--div__LIST {
    margin-top: 68px;
}
@media (min-width: 1440px) {
    .in-des .st-main--div__LIST {
        margin-top: 62px;
    }
}




.in-des .st-main--ol__EXAMPLES {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .in-des .st-main--ol__EXAMPLES {
        margin-top: 62px;
    }
}




.in-des .st-main--div__IMGLIST {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .in-des .st-main--div__IMGLIST {
        margin-top: 62px;
    }
}




.in-des--p__TOP1 {
    margin-top: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .in-des--p__TOP1 {
        font-size: 16px;
        line-height: 26px;
    }
}




.in-des .c-common--h3 {
    margin-top: 68px;
}
@media (min-width: 1440px) {
    .in-des .c-common--h3 {
        margin-top: 100px;
    }
}




#ind .cdn-reg--div__REQUEST {
    transition: transform 0.7s, opacity 0.7s;
}




#ind .cd-use--div__SWIPER21 {
    margin-top: 30px;
    margin-left: -10px;
    padding: 10px 10px 60px 10px;
    width: calc(100% + 20px);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    #ind .cd-use--div__SWIPER21 {
        margin-top: 42px;
        padding: 10px 10px 64px 10px;
    }
}




#ind .cd-use--div__SWIPER21_WRAPPER {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    column-gap: 0px;
    row-gap: 0px;
}
@media (min-width: 768px) {
    #ind .cd-use--div__SWIPER21_WRAPPER {
        grid-auto-flow: column;
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 0px;
    }
}
@media (min-width: 1200px) {
    #ind .cd-use--div__SWIPER21_WRAPPER {
        grid-template-columns: auto;
    }
}
@media (min-width: 1440px) {
    #ind .cd-use--div__SWIPER21_WRAPPER {
        grid-auto-flow: column;
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 0px;
    }
}




.cd-use--div__SWIPER21_NAV {
    margin-left: auto;
    height: 38px;
    position: absolute;
    right: 10px;
    bottom: 2px;
    display: flex;
    align-items: center;
    border: 0.25px solid var(--color-gray);
    border-radius: 12px;
}