
/* ---------- ********** ШРИФТЫ ********** ---------- */


@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'),
    local('Roboto-Thin'),
    url('../fonts/roboto/Robotothin.woff2') format('woff2'),
    url('../fonts/roboto/Robotothin.woff') format('woff'),
    url('../fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto ExtraLight'),
    local('Roboto-ExtraLight'),
    url('../fonts/roboto/Roboto-ExtraLight.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-ExtraLight.woff') format('woff'),
    url('../fonts/roboto/Roboto-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'),
    local('Roboto-Light'),
    url('../fonts/roboto/Robotolight.woff2') format('woff2'),
    url('../fonts/roboto/Robotolight.woff') format('woff'),
    url('../fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'),
    local('Roboto-LightItalic'),
    url('../fonts/roboto/Robotolightitalic.woff2') format('woff2'),
    url('../fonts/roboto/Robotolightitalic.woff') format('woff'),
    url('../fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
    local('Roboto-Regular'),
    url('../fonts/roboto/Roboto.woff2') format('woff2'),
    url('../fonts/roboto/Roboto.woff') format('woff'),
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'),
    local('Roboto-Medium'),
    url('../fonts/roboto/Robotomedium.woff2') format('woff2'),
    url('../fonts/roboto/Robotomedium.woff') format('woff'),
    url('../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto SemiBold'),
    local('Roboto-SemiBold'),
    url('../fonts/roboto/Roboto-SemiBold.woff2') format('woff2'),
    url('../fonts/roboto/Roboto-SemiBold.woff') format('woff'),
    url('../fonts/roboto/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('../fonts/roboto/Robotobold.woff2') format('woff2'),
    url('../fonts/roboto/Robotobold.woff') format('woff'),
    url('../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Onest';
    src: local('Onest Regular'),
    local('Onest-Regular'),
    url('../fonts/onest/Onest-Regular.woff2') format('woff2'),
    url('../fonts/onest/Onest-Regular.woff') format('woff'),
    url('../fonts/onest/Onest-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Onest';
    src: local('Onest SemiBold'),
    local('Onest-SemiBold'),
    url('../fonts/onest/Onest-SemiBold.woff2') format('woff2'),
    url('../fonts/onest/Onest-SemiBold.woff') format('woff'),
    url('../fonts/onest/Onest-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    ascent-override: 100%;
}







/* ---------- ********** ГЛОБАЛЬНЫЕ СТИЛИ ********** ---------- */


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overflow: auto;
    scroll-padding-top: 73px;

    --font1: 'Roboto';
    --font2: 'Onest';

    --color-blue: hsl(204, 100%, 29%);
    --color-blue-hover: hsl(204, 100%, 35%);
    --color-blue-light: hsla(204, 100%, 29%, 20%);
    --color-bluegray: hsl(210, 25%, 97%);
    --color-red: hsl(0, 72%, 46%);
    --color-red-hover: hsl(0, 81%, 37%);
    --color-black1: hsl(0, 0%, 5%);
    --color-gray: hsl(0, 0%, 75%);
    --color-gray2: hsl(0, 0%, 91%);
    --color-gray3: hsl(0, 0%, 93%);
    --color-gray3-light: hsla(0, 0%, 93%, 40%);
    --color-gray4: hsl(0, 0%, 51%);
    --color-gray5: hsl(0, 0%, 85%);
    --color-yellow: hsl(43, 91%, 45%);
    --color-green: hsl(101, 55%, 48%);
    --color-mare: hsl(169, 55%, 48%);
    --color-shadow: hsl(0, 0%, 92%);
    --color-shadow-light: hsl(0, 0%, 96%);

    --block-shadow: 0px 0px 9px 4px hsla(0, 0%, 0%, 8%);
    --red-shadow: 0px 0px 5px 2px hsla(0, 72%, 46%, 20%);

    --k-header-submenu-part: 25%;
    --k-header-submenu-width1: calc(25% - 20px);
    --k-header-submenu-width2: 75%;
    --k-header-submenu-width3: 280px;
}
@media (min-width: 1440px) {
    :root {
        scroll-padding-top: 101px;
    }
}




@media (max-width: 1439px) {
    :root:has(.__c-header--ul__MENU) {
        overflow: hidden;
    }
    :root:has(.__ct-cat--div__FILTER_BACK) {
        overflow: hidden;
    }
}
:root:has(.__cd-hero--div__POPUP) {
    overflow: hidden;
}




*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}




@media (max-width: 1439px) {
    * {
        scrollbar-color: var(--color-blue) var(--color-bluegray);
        scrollbar-width: thin;
    }
}
@media (min-width: 1440px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    ::-webkit-scrollbar:vertical {
        width: 4px;
    }
    ::-webkit-scrollbar:horizontal {
        height: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--color-bluegray);
        border-radius: 24px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-blue);
        border-radius: 24px;
    }
}
@-moz-document url-prefix() {
    * {
        scrollbar-color: var(--color-blue) var(--color-bluegray);
    }
}




.body {
    width: 100%;
    font-family: var(--font1), sans-serif;
    background-color: hsl(0, 0%, 100%);
    scrollbar-gutter: stable;
}

.body::-webkit-scrollbar {
    width: 8px;
}




input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}




button {
    font-family: var(--font1);
    background-color: transparent;
    border: none;
    cursor: pointer;
}




fieldset {
    box-sizing: border-box;
    border: none;
}




label {
    cursor: pointer;
}




input[type="range"] {
    cursor: pointer;
}




/* section {
    overflow: hidden;
} */







/* ---------- ********** АНИМАЦИИ ********** ---------- */


/* Для анимации красных кнопок */

@keyframes button-to-right {
    0% {
        transform: translateX(0%) skew(-25deg, 0deg);
        opacity: 0;
    }
    5% {
        opacity: 0.05;
    }
    25% {
        opacity: 8%;
    }
    50% {
        opacity: 12%;
    }
    75% {
        opacity: 2%;
    }
    90% {
        opacity: 0%;
    }
    to {
        transform: translateX(250%) skew(-25deg, 0deg);
    }
}




/* Для анимации плавного исчезания / проявления */

@keyframes visib {
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}




/* Классы для анимации при скролле */

.__C-SCRL.RIGHT {
    opacity: 0;
    transform: translate(150px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.RIGHT {
        opacity: 0;
        transform: translate(150px, 0px) !important;
    }
}

.__C-SCRL.LEFT {
    opacity: 0;
    transform: translate(-150px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.LEFT {
        opacity: 0;
        transform: translate(-150px, 0px) !important;
    }
}

.__C-SCRL.DOWN {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN {
        opacity: 0;
        transform: translate(0px, 200px) !important;
    }
}




/* частные случаи анимаций при скролле */


.__C-SCRL.RIGHT.c-common--h2 {
    opacity: 0;
    transform: translate(65px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.RIGHT.c-common--h2 {
        opacity: 0;
        transform: translate(200px, 0px) !important;
    }
}




.__C-SCRL.DOWN.c-common--a__ALL {
    opacity: 0;
    transform: translate(-50%, 65px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.c-common--a__ALL {
        opacity: 0;
        transform: translate(0%, 200px) !important;
    }
}




.__C-SCRL.LEFT.hm-cat--ul__MENU {
    opacity: 0;
    transform: translate(0px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.LEFT.hm-cat--ul__MENU {
        opacity: 0;
        transform: translate(-200px, 0px) !important;
    }
}




.__C-SCRL.DOWN.hm-cat--li__MENU_ITEM {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-cat--li__MENU_ITEM {
        opacity: 0;
        transform: translate(0px, 0px) !important;
    }
}




.__C-SCRL.DOWN.hm-cat--form__SUBMENU {
    transform: translate(0px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-cat--form__SUBMENU {
        opacity: 0;
        transform: translate(0px, 200px) !important;
    }
}




.__C-SCRL.DOWN.hm-hst--li__MENU_ITEM {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-hst--li__MENU_ITEM {
        opacity: 0;
        transform: translate(0px, 0px) !important;
    }
}




.hm-hst--ul__MENU.__C-SCRL.LEFT {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .hm-hst--ul__MENU.__C-SCRL.LEFT {
        opacity: 0;
        transform: translate(-180px, 0px) !important;
    }
}




.__C-SCRL.DOWN.hm-hst--form__SUBMENU {
    transform: translate(0px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-hst--form__SUBMENU {
        opacity: 0;
        transform: translate(0px, 200px) !important;
    }
}




.__C-SCRL.DOWN.hm-pre--form__SUBMENU {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-pre--form__SUBMENU {
        opacity: 0;
        transform: translate(-180px, 0px) !important;
    }
}









