/* ---------- ********** СТИЛИ ОБЩИХ ДЛЯ ВСЕХ СТРАНИЦ ЭЛЕМЕНТОВ И БЛОКОВ ********** ---------- */


.C-CONTAINER {
    margin: 0px auto;
    max-width: 1600px;
}




/* Классы цветов для тегов */

.color-yellow {
    color: var(--color-yellow);
}

/* @media (any-hover: hover) {
    .color-yellow:hover {
        text-shadow: 0px 0px var(--color-yellow);
    }
}

.color-yellow:active {
    text-shadow: 0px 0px var(--color-yellow);
} */




.color-green {
    color: var(--color-green);
}

/* @media (any-hover: hover) {
    .color-green:hover {
        text-shadow: 0px 0px var(--color-green);
    }
}

.color-green:active {
    text-shadow: 0px 0px var(--color-green);
} */




.color-mare {
    color: var(--color-mare);
}
/* @media (any-hover: hover) {
    .color-mare:hover {
        text-shadow: 0px 0px var(--color-mare);
    }
}
.color-mare:active {
    text-shadow: 0px 0px var(--color-mare);
} */



/* Шапка подраздела */

.c-common--div__HEAD {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-common--h2 {
    max-width: 240px;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--color-blue);
    transition: opacity 0.9s, transform 0.7s;
}
@media (min-width: 1440px) {
    .c-common--h2 {
        max-width: none;
        font-size: 68px;
        line-height: 1.4;
    }
}

.c-common--a__ALL {
    padding: 11px 12px;
    width: 100%;
    max-width: 767px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
    color: var(--color-black1);
    border: 0.25px solid var(--color-blue);
    border-radius: 10px;
    transition: color 0.2s, background-color 0.2s, opacity 1.8s, transform 0.7s;
}
@media (min-width: 768px) {
    .c-common--a__ALL {
        max-width: 328px;
    }
}
@media (min-width: 1440px) {
    .c-common--a__ALL {
        padding: 14px 46px;
        width: auto;
        position: static;
        font-size: 18px;
        transform: translate(0%, 0px);
    }
}

@media (any-hover: hover) {
    .c-common--a__ALL:hover {
        color: hsl(0, 0%, 100%);
        background-color: var(--color-blue);
    }
}
.c-common--a__ALL:active {
    color: hsl(0, 0%, 100%);
    background-color: var(--color-blue);
}




/* Главный блок подраздела и его разделение на левую и правую части */

.с-common--div__SECT_MAIN {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
@media (min-width: 1440px) {
    .с-common--div__SECT_MAIN {
        margin-top: 42px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 44px;
    }
}




.с-common--div__SECT_LEFT {
    display: none;
}
@media (min-width: 1440px) {
    .с-common--div__SECT_LEFT {
        flex: 0 0 23%;
        display: flex;
        flex-direction: column;
    }
}




.с-common--div__SECT_CONTENT {
    margin: 0px auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    transition: all 0.7s;
}
@media (min-width: 768px) {
    .с-common--div__SECT_CONTENT {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .с-common--div__SECT_CONTENT {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .с-common--div__SECT_CONTENT {
        margin: 0px;
        flex: 0 1 72.7%;
    }
}
@media (min-width: 1500px) {
    .с-common--div__SECT_CONTENT {
        margin: 0px;
        flex: 0 1 73%;
    }
}
@media (min-width: 1730px) {
    .с-common--div__SECT_CONTENT {
        flex: 0 1 73.8%;
    }
}




/* Кнопка UP */

.c-common--button__UP {
    padding: 9px;
    height: 58px;
    width: 58px;
    position: fixed;
    right: 10px;
    bottom: -100px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    border: 0.25px solid var(--color-gray);
    box-shadow: var(--block-shadow);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s, box-shadow 0.2s, background-color 0.2s;
}
@media (min-width: 1440px) {
    .c-common--button__UP {
        height: 58px;
        width: 58px;
        right: 16px;
        bottom: -80px;
    }
}
/* @media (min-width: 1760px) {
    .c-common--button__UP {
        right: calc((100vw - 1600px) / 2);
        right: 16px;
    }
} */

/* @media (any-hover: hover) {
    .c-common--button__UP:hover {
        background-color: var(--color-blue-hover);
    }
}
.c-common--button__UP:active {
    background-color: var(--color-blue-hover);
} */

.__c-common--button__UP {
    opacity: 1;
    transform: translateY(-188px);
}
@media (min-width: 1440px) {
    .__c-common--button__UP {
        transform: translateY(-170px);
    }
}




.c-common--button__UP > svg {
    margin: 0px 0px 2px 1px;
    width: 22px;
}




.c-common--div__LINE1 {
    margin-bottom: 10px;
    height: 0.25px;
    width: 100%;
    display: flex;
    background-color: hsla(0, 0%, 5%, 40%);
}
@media (min-width: 1440px) {
    .c-common--div__LINE1 {
        margin-bottom: 20px;
    }
}




.c-common--div__LINE11 {
    height: 2px;
    width: 46px;
    position: relative;
    top: -2px;
    background-color: var(--color-red);
}











