/* ---------- ********** FOOTER ********** ---------- */


.c-footer {
    padding: 40px 16px;
    width: 100%;
    position: relative;
    background-color: var(--color-bluegray);
}
@media (min-width: 1440px) {
    .c-footer {
        padding: 40px 80px;
    } 
}




.c-footer--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .c-footer--div__CONT {
        padding-bottom: 0px;
    }
}




.c-footer--div__TOP {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .c-footer--div__TOP {
        flex-direction: row;
        gap: 70px;
    }
}
@media (min-width: 1920px) {
    .c-footer--div__TOP {
        gap: 135px;
    }
}




.c-footer--div__LEFT {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .c-footer--div__LEFT {
        flex: 0 0 auto;
    }
}




.c-footer--a__LOGO {
    display: none;
}
@media (min-width: 1440px) {
    .c-footer--a__LOGO {
        align-self: flex-start;
        display: flex;
    }
}




@media (min-width: 1440px) {
    .c-footer--img__LOGO {
        display: flex;
        width: 179px;
        pointer-events: none;
    }
}




.c-footer--div__LEFT_BTNS {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1440px) {
    .c-footer--div__LEFT_BTNS {
        margin-top: 200px;
        align-items: stretch;
    }
}




.c-footer--button__REQUEST {
    margin: 0px auto;
    padding: 18px 44px;
    width: 100%;
    max-width: 767px;
    position: relative;
    align-self: stretch;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: hsl(0, 0%, 100%);
    background-color: var(--color-red);
    border-radius: 7px;
    transition: all 0.2s;
}
@media (min-width: 768px) {
    .c-footer--button__REQUEST {
        max-width: 328px;
    }
}
@media (min-width: 1440px) {
    .c-footer--button__REQUEST {
        width: 270px;
        line-height: 28px;
    }
}

.c-footer--button__REQUEST::before {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 25%;
    opacity: 0;
    transform: skew(-25deg, 0deg);
    /* background: linear-gradient(to right,hsla(0, 0%, 100%, 60%) 0%,hsla(0, 0%, 100%, 6%) 100%); */
    background: linear-gradient(to right,hsla(0, 0%, 100%, 68%) 0%,hsla(0, 0%, 100%, 5%) 100%);
    transition: all 0.2s;
    animation: button-to-right 2.5s infinite;
}
@media (any-hover: hover) {
    .c-footer--button__REQUEST:hover::before {
        display: none;
    }
    .c-footer--button__REQUEST:hover {
        background-color: var(--color-red-hover);
    }
}
.c-footer--button__REQUEST:active::before {
    display: none;
}
.c-footer--button__REQUEST:active {
    background-color: var(--color-red-hover);
}




.c-footer--button__SUBSCR {
    margin-top: 20px;
    width: 270px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* letter-spacing: 1px; */
    letter-spacing: 0.9px;
    text-align: justify;
    color: var(--color-black1);
    transition: all 0.2s;
}
/* @media (min-width: 1440px) {
    .c-footer--button__SUBSCR {
        letter-spacing: 1.02px;
    }
} */

@media (any-hover: hover) {
    .c-footer--button__SUBSCR:hover {
        color: var(--color-red);
    }
}
.c-footer--button__SUBSCR:active {
    color: var(--color-red);
}




.c-footer--div__LEFT_CONTACTS {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1440px) {
    .c-footer--div__LEFT_CONTACTS {
        margin-top: 100px;
        align-items: stretch;
    }
}




.c-footer--a__TEL {
    width: 270px;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    /* letter-spacing: 0.57px; */
    letter-spacing: 0.2px;
    text-align: justify;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .c-footer--a__TEL {
        /* letter-spacing: 0.57px; */
        letter-spacing: 0.2px;
    }
}




.c-footer--a__MAIL {
    margin-top: 8px;
    width: 270px;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: 0.05px;
    color: var(--color-black1);
    text-transform: uppercase;
}
@media (min-width: 1440px) {
    .c-footer--a__MAIL {
        letter-spacing: 0.05px;
    }
}




.c-footer--div__0 {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 1440px) {
    .c-footer--div__0 {
        margin-top: 0px;
        min-height: 648px;
        max-height: 840px;
        flex-direction: row;
        flex-grow: 1;
        row-gap: 70px;
        column-gap: 51px;
        overflow: hidden;
        transition: min-height 0.3s, max-height 0.3s;
    }
}
@media (min-width: 1920px) {
    .c-footer--div__0 {
        min-height: 622px;
        max-height: 755px;
        row-gap: 89px;
    }
}




@media (min-width: 1440px) {
    .__c-footer--div__0 {
        min-height: 850px;
        max-height: 850px;
    }
}
@media (min-width: 1920px) {
    .__c-footer--div__0 {
        min-height: 770px;
        max-height: 770px;
    }
}




.c-footer--div__COL {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 1440px) {
    .c-footer--div__COL {
        flex: 1;
        gap: 90px;
    }
}




.c-footer--div__01 {
    display: flex;
    flex-direction: column;
}




.c-footer--div__1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
@media (min-width: 1440px) {
    .c-footer--div__1 {
        padding-bottom: 14px;
    }
}




.c-footer--div__1 .c-footer--div__LINE {
    display: none;
}
@media (min-width: 1440px) {
    .c-footer--div__1 .c-footer--div__LINE {
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: flex;
    }
    @-moz-document url-prefix() {
        .c-footer--div__1 .c-footer--div__LINE {
            height: 1px;
        }
    }
}




.c-footer--a__1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-black1);
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-footer--a__1:hover {
        color: var(--color-red);
    }
}
.c-footer--a__1:active {
    color: var(--color-red);
}




.c-footer--button__1 {
    margin-top: 3px;
    transition: all 0.3s;
}
@media (min-width: 1440px) {
    .c-footer--button__1 {
        display: none;
    }
}

.__c-footer--button__1 {
    transform: rotate(180deg);
}




.c-footer--ul__2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
@media (min-width: 1440px) {
    .c-footer--ul__2 {
        gap: 22px;
    }
}




.c-footer--li__2 {
    display: flex;
    flex-direction: column;
}




.c-footer--div__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}




.c-footer--a__2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .c-footer--a__2 {
        font-weight: 500;
    }
}




.c-footer--button__2 {
    display: none;
}
@media (min-width: 1440px) {
    .c-footer--button__2 {
        display: flex;
        transition: all 0.4s;
    }
}

.__c-footer--button__2 {
    transform: rotate(180deg);
}




.c-footer--li__2 > .c-footer--ul__3 {
    display: none;
}
@media (min-width: 1440px) {
    .c-footer--li__2 > .c-footer--ul__3 {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
}




.c-footer--ul__3 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}




.c-footer--li__3 {
    display: flex;
    flex-direction: column;
}




.c-footer--a__3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
    transition: all 0.2s;
}

@media (any-hover: hover) {
    .c-footer--a__3:hover {
        /* font-weight: 400; */
        text-shadow: 0px 0px 1px var(--color-black1);
    }
}
.c-footer--a__3:active {
    /* font-weight: 400; */
    text-shadow: 0px 0px 1px var(--color-black1);
}




@media (max-width: 1439px) {
    .c-footer--div__01 > ul {
        margin-top: 0px;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.25s;
    }

    .__c-footer--div__01 > ul {
        margin-top: 20px;
        max-height: 400px;
        opacity: 1;
    }
}




@media (min-width: 1440px) {
    .c-footer--li__2 > ul {
        margin-top: 0px;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s;
    }

    .__c-footer--li__2 > ul {
        margin-top: 20px;
        max-height: 500px;
        opacity: 1;
    }
}




.c-footer--div__BOTTOM {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* @media (min-width: 1440px) {
    .c-footer--div__BOTTOM {
        margin-top: 0px;
    }
} */




.c-footer--div__BOTTOM1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
@media (min-width: 1440px) {
    .c-footer--div__BOTTOM1 {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
}




.c-footer--div__SOCIAL {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}




.c-footer--a__SOCIAL {
    display: flex;
    justify-content: center;
    align-items: center;
}




.c-footer--a__SOCIAL:nth-of-type(1) path:nth-last-of-type(even) {
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-footer--a__SOCIAL:nth-of-type(1):hover path:nth-last-of-type(even) {
        fill: hsl(247, 76%, 15%);
    }
}
.c-footer--a__SOCIAL:nth-of-type(1):active path:nth-last-of-type(even) {
    fill: hsl(247, 76%, 15%);
}




.c-footer--a__SOCIAL:nth-of-type(2) rect {
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-footer--a__SOCIAL:nth-of-type(2):hover rect {
        fill: hsl(200, 100%, 40%);
    }
}
.c-footer--a__SOCIAL:nth-of-type(2):active rect {
    fill: hsl(200, 100%, 40%);
}




.c-footer--a__SOCIAL:nth-of-type(3) rect {
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-footer--a__SOCIAL:nth-of-type(3):hover rect {
        fill: hsl(142, 70%, 49%);
    }
}
.c-footer--a__SOCIAL:nth-of-type(3):active rect {
    fill: hsl(142, 70%, 49%);
}




.c-footer--a__SOCIAL:nth-of-type(4) rect {
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-footer--a__SOCIAL:nth-of-type(4):hover rect {
        fill: hsl(212, 100%, 50%);
    }
}
.c-footer--a__SOCIAL:nth-of-type(4):active rect {
    fill: hsl(212, 100%, 50%);
}




.c-footer--a__SOCIAL:nth-of-type(5) path:nth-last-of-type(odd) {
    transition: all 0.2s;
}
@media (any-hover: hover) {
    .c-footer--a__SOCIAL:nth-of-type(5):hover path:nth-last-of-type(odd) {
        fill: hsl(240, 3%, 13%);
        stroke: hsl(240, 3%, 13%);
    }
}
.c-footer--a__SOCIAL:nth-of-type(5):active path:nth-last-of-type(odd) {
    fill: hsl(240, 3%, 13%);
    stroke: hsl(240, 3%, 13%);
}




.c-footer--div__ADDRESS {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.c-footer--span__ADDRESS {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
}



.c-footer--div__LINE {
    height: 0.25px;
    width: 100%;
    position: relative;
    background-color: var(--color-gray);
}
@media (min-width: 1440px) {
    .c-footer--div__BOTTOM .c-footer--div__LINE::before {
        display: none;
    }
}

.c-footer--div__LINE::before {
    content: "";
    height: 2px;
    width: 46px;
    position: absolute;
    left: 0px;
    top: -1px;
    background-color: var(--color-red);
}




.c-footer--div__BOTTOM2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (min-width: 1440px) {
    .c-footer--div__BOTTOM2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
}




.c-footer--a__RIGHTS,
.c-footer--span__BOTTOM2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
    transition: all 0.2s;
}

@media (any-hover: hover) {
    .c-footer--a__RIGHTS:hover {
        /* font-weight: 500; */
        text-shadow: 0px 0px var(--color-black1);
    }
}
.c-footer--a__RIGHTS:active {
    /* font-weight: 500; */
    text-shadow: 0px 0px var(--color-black1);
}




@media (min-width: 1440px) {
    .c-footer--div__EMPTY {
        width: 175px;
    }
}














