:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overflow: auto;
    scroll-padding-top: 73px;

    --font1: 'Roboto';
    --font2: 'Onest';

    --color-blue: hsl(204, 100%, 29%);
    --color-blue-hover: hsl(204, 100%, 35%);
    --color-blue-light: hsla(204, 100%, 29%, 20%);
    --color-bluegray: hsl(210, 25%, 97%);
    --color-red: hsl(0, 72%, 46%);
    --color-red-hover: hsl(0, 81%, 37%);
    --color-black1: hsl(0, 0%, 5%);
    --color-gray: hsl(0, 0%, 75%);
    --color-gray2: hsl(0, 0%, 91%);
    --color-gray3: hsl(0, 0%, 93%);
    --color-gray3-light: hsla(0, 0%, 93%, 40%);
    --color-gray4: hsl(0, 0%, 51%);
    --color-gray5: hsl(0, 0%, 85%);
    --color-yellow: hsl(43, 91%, 45%);
    --color-green: hsl(101, 55%, 48%);
    --color-mare: hsl(169, 55%, 48%);
    --color-shadow: hsl(0, 0%, 92%);
    --color-shadow-light: hsl(0, 0%, 96%);

    --block-shadow: 0px 0px 9px 4px hsla(0, 0%, 0%, 8%);
    --red-shadow: 0px 0px 5px 2px hsla(0, 72%, 46%, 20%);

    --k-header-submenu-part: 25%;
    --k-header-submenu-width1: calc(25% - 20px);
    --k-header-submenu-width2: 75%;
    --k-header-submenu-width3: 280px;
}
@media (min-width: 1440px) {
    :root {
        scroll-padding-top: 101px;
    }
}




@media (max-width: 1439px) {
    :root:has(.__c-header--ul__MENU) {
        overflow: hidden;
    }
    :root:has(.__ct-cat--div__FILTER_BACK) {
        overflow: hidden;
    }
}
:root:has(.__cd-hero--div__POPUP) {
    overflow: hidden;
}




