
/* ---------- ********** ШРИФТЫ ********** ---------- */


@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), 
    local('Roboto-Thin'), 
    url('../../../fonts/roboto/Robotothin.woff2') format('woff2'), 
    url('../../../fonts/roboto/Robotothin.woff') format('woff'), 
    url('../../../fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto ExtraLight'), 
    local('Roboto-ExtraLight'), 
    url('../../../fonts/roboto/Roboto-ExtraLight.woff2') format('woff2'), 
    url('../../../fonts/roboto/Roboto-ExtraLight.woff') format('woff'), 
    url('../../../fonts/roboto/Roboto-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), 
    local('Roboto-Light'),
    url('../../../fonts/roboto/Robotolight.woff2') format('woff2'), 
    url('../../../fonts/roboto/Robotolight.woff') format('woff'), 
    url('../../../fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), 
    local('Roboto-LightItalic'),
    url('../../../fonts/roboto/Robotolightitalic.woff2') format('woff2'), 
    url('../../../fonts/roboto/Robotolightitalic.woff') format('woff'), 
    url('../../../fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), 
    local('Roboto-Regular'),
    url('../../../fonts/roboto/Roboto.woff2') format('woff2'), 
    url('../../../fonts/roboto/Roboto.woff') format('woff'), 
    url('../../../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), 
    local('Roboto-Medium'),
    url('../../../fonts/roboto/Robotomedium.woff2') format('woff2'), 
    url('../../../fonts/roboto/Robotomedium.woff') format('woff'), 
    url('../../../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto SemiBold'), 
    local('Roboto-SemiBold'),
    url('../../../fonts/roboto/Roboto-SemiBold.woff2') format('woff2'), 
    url('../../../fonts/roboto/Roboto-SemiBold.woff') format('woff'), 
    url('../../../fonts/roboto/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), 
    local('Roboto-Bold'),
    url('../../../fonts/roboto/Robotobold.woff2') format('woff2'), 
    url('../../../fonts/roboto/Robotobold.woff') format('woff'), 
    url('../../../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Onest';
    src: local('Onest Regular'), 
    local('Onest-Regular'),
    url('../../../fonts/onest/Onest-Regular.woff2') format('woff2'), 
    url('../../../fonts/onest/Onest-Regular.woff') format('woff'), 
    url('../../../fonts/onest/Onest-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Onest';
    src: local('Onest SemiBold'), 
    local('Onest-SemiBold'),
    url('../../../fonts/onest/Onest-SemiBold.woff2') format('woff2'), 
    url('../../../fonts/onest/Onest-SemiBold.woff') format('woff'), 
    url('../../../fonts/onest/Onest-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    ascent-override: 100%;
}




@font-face {
    font-family: 'Pastry Chef';
    src: local('Pastry Chef Regular'), 
    local('Pastry-Chef-Regular'),
    url('../../../fonts/pastry-chef/Pastry-Chef.woff2') format('woff2'), 
    url('../../../fonts/pastry-chef/Pastry-Chef.woff') format('woff'), 
    url('../../../fonts/pastry-chef/Pastry-Chef.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    ascent-override: 100%;
}







/* ---------- ********** ГЛОБАЛЬНЫЕ СТИЛИ ********** ---------- */


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* scrollbar-gutter: stable; */
    overflow: auto;
    scroll-padding-top: 73px;

    --font1: 'Roboto';
    --font2: 'Onest';
    --font3: 'Pastry Chef';

    --color-blue: hsl(204, 100%, 29%);
    --color-blue-hover: hsl(204, 100%, 35%);
    --color-blue-light: hsla(204, 100%, 29%, 20%);
    --color-blue-light2: hsl(201, 96%, 70%);
    --color-bluegray: hsl(210, 25%, 97%);
    --color-bluegray2: hsl(205, 33%, 83%);
    --color-bluegreen: hsl(188, 63%, 57%);
    --color-blue-tags: hsl(194, 100%, 42%);
    --color-red: hsl(0, 72%, 46%);
    --color-red-hover: hsl(0, 81%, 37%);
    --color-black1: hsl(0, 0%, 5%);
    --color-gray: hsl(0, 0%, 75%);
    --color-gray2: hsl(0, 0%, 91%);
    --color-gray3: hsl(0, 0%, 93%);
    --color-gray3-light: hsla(0, 0%, 93%, 40%);
    --color-gray4: hsl(0, 0%, 51%);
    --color-gray5: hsl(0, 0%, 85%);
    --color-gray6: hsl(0, 0%, 97%);
    --color-orange: hsl(31, 94%, 80%);
    --color-yellow: hsl(43, 91%, 45%);
    --color-green: hsl(101, 55%, 48%);
    --color-green-dark: hsl(152, 51%, 37%);
    --color-greengray: hsl(138, 19%, 76%);
    --color-mare: hsl(169, 55%, 48%);
    --color-shadow: hsl(0, 0%, 92%);
    --color-shadow-light: hsl(0, 0%, 96%);

    --color-back-blue: hsl(199, 65%, 54%);
    --color-back-pink: hsl(336, 86%, 64%);
    --color-back-green: hsl(77, 65%, 70%);
    --color-back-orange: hsl(13, 88%, 74%);
    --color-back-blue2: hsl(198, 49%, 52%);
    --color-back-pink2: hsl(0, 63%, 66%);
    --color-back-blue3: hsl(195, 53%, 79%);
    --color-back-yellow: hsl(38, 94%, 67%);
    --color-back-blue4: hsl(223, 100%, 77%);
    --color-back-green2: hsl(148, 54%, 58%);
    --color-back-purple: hsl(258, 33%, 62%);
    --color-back-green3: hsl(124, 38%, 57%);
    --color-back-green4: hsl(85, 92%, 85%);
    --color-back-purple2: hsl(240, 67%, 94%);
    --color-back-green5: hsl(158, 76%, 84%);
    --color-back-green6: hsl(85, 74%, 51%);
    --color-back-blue5: hsl(206, 100%, 89%);
    --color-back-blue6: hsl(213, 100%, 95%);

    --block-shadow: 0px 0px 9px 4px hsla(0, 0%, 0%, 8%);
    --block-shadow2: 0.4px 0px 0.4px 0px hsla(0, 0%, 0%, 20%);
    --red-shadow: 0px 0px 5px 2px hsla(0, 72%, 46%, 20%);
    --blue-shadow: 0px 0px 5px 0px hsla(204, 100%, 29%, 40%);

    --k-header-submenu-part: 25%;
    --k-header-submenu-width1: calc(25% - 20px);
    --k-header-submenu-width2: 75%;
    --k-header-submenu-width3: 280px;
}
@media (min-width: 1440px) {
    :root {
        scroll-padding-top: 101px;
    }
}




@media (max-width: 1439px) {
    :root:has(.__c-header--ul__MENU) {
        overflow: hidden;
    }
    :root:has(.__ct-cat--div__FILTER_BACK) {
        overflow: hidden;
    }
}

:root:has(.__cd-hero--div__POPUP) {
    overflow: hidden;
}

:root:has(.__c-common--div__FB) {
    overflow: hidden;
}

:root:has(.__c-common--div__FB_DONE) {
    overflow: hidden;
}

:root:has(.__c-common--div__GLR) {
    overflow: hidden;
}

:root:has(.__st-main--div__IMAGES9_POPUP) {
    overflow: hidden;
}

:root:has(.__c-common--div__VID) {
    overflow: hidden;
}

:root:has(.__hr-hst--div__POPUP) {
    overflow: hidden;
}

:root:has(.__hr-blog--div__POPUP) {
    overflow: hidden;
}

:root:has(.__ab-cert--div__POPUP) {
    overflow: hidden;
}

@media (max-width: 1439px) {
    :root:has(.__c-common--div__SHARE_POPUP_CONT) {
        overflow: hidden;
    }
}




*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}




@media (max-width: 1439px) {
    * {
        scrollbar-color: var(--color-blue) var(--color-bluegray);
        scrollbar-width: thin;
    }
}
@media (min-width: 1440px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    } 
    ::-webkit-scrollbar:vertical {
        width: 4px;
    }
    ::-webkit-scrollbar:horizontal {
        height: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--color-bluegray);
        border-radius: 24px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-blue);
        border-radius: 24px;
    }
}
@-moz-document url-prefix() {
    * {
        scrollbar-color: var(--color-blue) var(--color-bluegray);
    }
}




.body {
    width: 100%;
    font-family: var(--font1), sans-serif;
    background-color: hsl(0, 0%, 100%);
    scrollbar-gutter: stable;
    /* zoom: 90%; */
}

.body::-webkit-scrollbar {
    width: 8px;
}




input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
} 






button {
    font-family: var(--font1);
    background-color: transparent;
    border: none;
    cursor: pointer;
}




fieldset {
    box-sizing: border-box;
    border: none;
}




label {
    cursor: pointer;
}




input[type="range"] {
    cursor: pointer;
}







/* ---------- ********** АНИМАЦИИ ********** ---------- */


/* Для анимации красных кнопок */

@keyframes button-to-right {
    0% {
        transform: translateX(0%) skew(-25deg, 0deg);
        opacity: 0;
    }
    5% {
        opacity: 0.05;
    }
    25% {
        opacity: 8%;
    }
    50% {
        opacity: 12%;
    }
    75% {
        opacity: 2%;
    }
    90% {
        opacity: 0%;
    }
    to {
        transform: translateX(250%) skew(-25deg, 0deg);
    }
}




/* Для анимации плавного исчезания / проявления */

@keyframes visib {
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}




/* Классы для анимации при скролле */

.__C-SCRL.RIGHT,
.__C-SCRL2.RIGHT {
    opacity: 0 !important;
    transform: translate(120px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.RIGHT,
    .__C-SCRL2.RIGHT {
        opacity: 0 !important;
        transform: translate(150px, 0px) !important;
    }
}

.__C-SCRL.LEFT,
.__C-SCRL2.LEFT {
    opacity: 0 !important;
    transform: translate(-120px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.LEFT,
    .__C-SCRL2.LEFT {
        opacity: 0;
        transform: translate(-150px, 0px) !important;
    }
}

.__C-SCRL.TOP,
.__C-SCRL2.TOP {
    opacity: 0 !important;
    transform: translate(0px, -120px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.TOP,
    .__C-SCRL2.TOP {
        opacity: 0 !important;
        transform: translate(0px, -150px) !important;
    }
}

.__C-SCRL.DOWN,
.__C-SCRL2.DOWN {
    opacity: 0 !important;
    transform: translate(0px, 120px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN,
    .__C-SCRL2.DOWN {
        opacity: 0 !important;
        transform: translate(0px, 150px) !important;
    }
}




/* частные случаи анимаций при скролле */


.__C-SCRL.RIGHT.c-common--h2 {
    opacity: 0;
    transform: translate(65px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.RIGHT.c-common--h2 {
        opacity: 0;
        transform: translate(150px, 0px) !important;
    }
}




.__C-SCRL.DOWN.c-common--a__ALL {
    opacity: 0;
    transform: translate(-50%, 65px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.c-common--a__ALL {
        opacity: 0;
        transform: translate(0%, 200px) !important;
    }
}




.__C-SCRL.LEFT.hm-cat--ul__MENU {
    opacity: 0;
    transform: translate(0px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.LEFT.hm-cat--ul__MENU {
        opacity: 0;
        transform: translate(-200px, 0px) !important;
    }
}




.__C-SCRL.DOWN.hm-cat--li__MENU_ITEM {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-cat--li__MENU_ITEM {
        opacity: 0;
        transform: translate(0px, 0px) !important;
    }
}




.__C-SCRL.DOWN.hm-cat--form__SUBMENU {
    transform: translate(0px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-cat--form__SUBMENU {
        opacity: 0;
        transform: translate(0px, 200px) !important;
    }
}




.__C-SCRL.DOWN.hm-hst--li__MENU_ITEM {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-hst--li__MENU_ITEM {
        opacity: 0;
        transform: translate(0px, 0px) !important;
    }
}




.hm-hst--ul__MENU.__C-SCRL.LEFT {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .hm-hst--ul__MENU.__C-SCRL.LEFT {
        opacity: 0;
        transform: translate(-180px, 0px) !important;
    }
}




.__C-SCRL.DOWN.hm-hst--form__SUBMENU {
    transform: translate(0px, 0px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-hst--form__SUBMENU {
        opacity: 0;
        transform: translate(0px, 200px) !important;
    }
}




.__C-SCRL.DOWN.hm-pre--form__SUBMENU {
    opacity: 0;
    transform: translate(0px, 200px) !important;
}
@media (min-width: 1440px) {
    .__C-SCRL.DOWN.hm-pre--form__SUBMENU {
        opacity: 0;
        transform: translate(-180px, 0px) !important;
    }
}









/* ---------- ********** СТИЛИ ОБЩИХ ДЛЯ ВСЕХ СТРАНИЦ ЭЛЕМЕНТОВ И БЛОКОВ ********** ---------- */


.C-CONTAINER {
    margin: 0px auto;
    max-width: 1600px;
}




/* Классы цветов для простых тегов */

.color-yellow {
    color: var(--color-yellow);
}
.color-yellow > div {
    background-color: var(--color-yellow);
}




.color-green {
    color: var(--color-green);
}
.color-green > div {
    background-color: var(--color-green);
}




.color-mare {
    color: var(--color-mare);
}
.color-mare > div {
    background-color: var(--color-mare);
}




.color-green-dark {
    color: var(--color-green-dark);
}
.color-green-dark > div {
    background-color: var(--color-green-dark);
}




.color-orange {
    color: var(--color-orange);
}
.color-orange > div {
    background-color: var(--color-orange);
}




.color-blue {
    color: var(--color-blue-tags);
}
.color-blue > div {
    background-color: var(--color-blue-tags);
}




/* Хлебные крошки */

.c-common--ul__BC {
    width: 100%;
    margin-top: 22px;
    display: flex;
    gap: 6px;
    list-style-type: none;
    overflow-x: auto;
    scrollbar-color: transparent transparent !important;
    -ms-overflow-style: none !important;
}
@media (min-width: 1440px) {
    .c-common--ul__BC {
        margin-top: 35px;
        gap: 20px;
    }
}

.c-common--ul__BC::-webkit-scrollbar {
    display: none !important;
}




.c-common--li__BC {
    display: flex;
    align-items: center;
    gap: 8px;
}
@media (min-width: 1440px) {
    .c-common--li__BC {
        gap: 20px;
    }
}




.c-common--a__BC {
    display: flex;
    font-size: 11px;
    line-height: 11px;
    color: var(--color-gray);
    white-space: nowrap;
}
@media (min-width: 1440px) {
    .c-common--a__BC {
        font-size: 13px;
        line-height: 22px;
    }
}




.c-common--li__BC:last-of-type .c-common--a__BC {
    color: var(--color-blue);
    pointer-events: none;
}




.c-common--li__BC svg {
    height: 8px;
    width: 3.75px;
    flex-shrink: 0;
}
@media (min-width: 1440px) {
    .c-common--li__BC svg {
        height: 15px;
        width: 7px;
    }
}




.c-common--li__BC:last-of-type svg {
    display: none;
}




/* Шапка подраздела */

.c-common--div__HEAD {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-common--h2 {
    max-width: 240px;
    align-self: flex-start;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--color-blue);
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .c-common--h2 {
        max-width: none;
        font-size: 68px;
        line-height: 1.4;
    }
}

.c-common--a__ALL {
    padding: 11px 12px;
    width: 100%;
    max-width: 767px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
    color: var(--color-black1);
    border: 0.25px solid var(--color-blue);
    border-radius: 10px;
    transition: color 0.2s, background-color 0.2s, opacity 1.8s, transform 0.7s;
}
@media (min-width: 768px) {
    .c-common--a__ALL {
        max-width: 328px;
    }
}
@media (min-width: 1440px) {
    .c-common--a__ALL {
        padding: 14px 46px;
        width: auto;
        position: static;
        font-size: 18px;
        transform: translate(0%, 0px);
    }
}

@media (any-hover: hover) {
    .c-common--a__ALL:hover {
        color: hsl(0, 0%, 100%);
        background-color: var(--color-blue);
    }
}
.c-common--a__ALL:active {
    color: hsl(0, 0%, 100%);
    background-color: var(--color-blue);
}




.c-common--h3 {
    align-self: flex-start;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3;
    color: var(--color-black1);
    transition: transform 0.7s, opacity 0.7s;
}
@media (min-width: 1440px) {
    .c-common--h3 {
        font-size: 40px;
    }
}




/* Главный блок подраздела и его разделение на левую и правую части */

.с-common--div__SECT_MAIN {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
@media (min-width: 1440px) {
    .с-common--div__SECT_MAIN {
        margin-top: 42px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 44px;
    }
}




.с-common--div__SECT_LEFT {
    display: none;
}
@media (min-width: 1440px) {
    .с-common--div__SECT_LEFT {
        flex: 0 0 23%;
        display: flex;
        flex-direction: column;
    }
}




.с-common--div__SECT_CONTENT {
    margin: 0px auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    transition: all 0.7s;
}
@media (min-width: 768px) {
    .с-common--div__SECT_CONTENT {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .с-common--div__SECT_CONTENT {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .с-common--div__SECT_CONTENT {
        margin: 0px;
        flex: 0 1 72.7%;
    }
}
@media (min-width: 1500px) {
    .с-common--div__SECT_CONTENT {
        margin: 0px;
        flex: 0 1 73%;
    }
}
@media (min-width: 1730px) {
    .с-common--div__SECT_CONTENT {
        flex: 0 1 73.8%;
    }
}




/* Кнопка UP */

.c-common--button__UP {
    padding: 9px;
    height: 58px;
    width: 58px;
    position: fixed;
    right: 12px;
    bottom: -100px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    border: 0.25px solid var(--color-gray);
    box-shadow: var(--block-shadow);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s, box-shadow 0.2s, background-color 0.2s;
}
@media (min-width: 1440px) {
    .c-common--button__UP {
        height: 58px;
        width: 58px;
        right: 12px;
        bottom: -80px;
    }
}

.__c-common--button__UP {
    opacity: 1;
    transform: translateY(-112px);
}
@media (min-width: 1440px) {
    .__c-common--button__UP {
        transform: translateY(-92px);
    }
}




.c-common--button__UP > svg {
    margin: 0px 0px 2px 1px;
    width: 22px;
}




/* Линия с красной вставкой */

.c-common--div__LINE1 {
    margin-bottom: 10px;
    height: 0.25px;
    width: 100%;
    display: flex;
    background-color: hsla(0, 0%, 5%, 40%);
}
@media (min-width: 1440px) {
    .c-common--div__LINE1 {
        margin-bottom: 20px;
    }
}
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance: none) {
        .c-common--div__LINE1 {
            height: 1px;
        }
    }
}
@-moz-document url-prefix() {
    .c-common--div__LINE1 {
        height: 1px;
    }
}




.c-common--div__LINE11 {
    height: 2px;
    width: 46px;
    position: relative;
    top: -1px;
    background-color: var(--color-red);
}
@media (min-resolution: 2dppx) {
    .c-common--div__LINE11 {
        top: -1.75px;
    }
}