
/* ---------- ********** |||||||||| СТРАНИЦА SERVICES4 |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ HERO ********** ---------- */


.srv4-hero {
    margin-top: 53px;
    padding: 0px 16px 68px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .srv4-hero {
        margin-top: 90px;
        padding: 0px 80px 100px;
    } 
}




.srv4-hero--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}




@media (min-width: 1440px) {
    .srv4-hero .c-common--div__TABS {
        max-width: 1275px;
    }
}




.srv4-hero .c-common--h2 {
    margin-top: 38px;
    max-width: none;
}
@media (min-width: 1440px) {
    .srv4-hero .c-common--h2 {
        margin-top: 100px;
    }
}




.srv4-hero--div__MAIN {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .srv4-hero--div__MAIN {
        margin-top: 42px;
    }
}




.srv4-hero--div__HERO {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO {
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 90px;
    }
}
@media (min-width: 1920px) {
    .srv4-hero--div__HERO {
        gap: 160px;
    }
}




.srv4-hero--div__HERO_TOP {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_TOP {
        width: 60.1%;
        gap: 42px;
    }
}
@media (min-width: 1920px) {
    .srv4-hero--div__HERO_TOP {
        width: 59.1%;
    }
}




.srv4-hero--div__HERO_IMAGES {
    max-width: 500px;
    position: relative;
    align-self: center;
    display: flex;
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_IMAGES {
        max-width: none;
    }
}




@media (min-width: 1440px) {
    .srv4-hero--div__HERO_IMAGES.__C-SCRL {
        transform: translate(150px, 0px) !important;
    }
} 




.srv4-hero--div__HERO_IMAGE1 {
    margin: 19px 0px 0px 60px;
    width: 81.7%;
    aspect-ratio: 268 / 151;
    flex: 1 1 auto;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_IMAGE1 {
        margin: 45px 0px 0px 142px;
        width: 81.5%;
        aspect-ratio: 628 / 354;
        border-radius: 24px;
    }
}
@media (min-width: 1920px) {
    .srv4-hero--div__HERO_IMAGE1 {
        margin: 55px 0px 0px 175px;
        aspect-ratio: 771 / 435;
        border-radius: 24px;
    }
}




.srv4-hero--div__HERO_IMAGE2 {
    width: 30.5%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    flex: 1 1 auto;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_IMAGE2 {
        width: 30.5%;
        border-radius: 24px;
    }
}




.srv4-hero--img__HERO_IMAGE1 {
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    pointer-events: none;
}




.srv4-hero--img__HERO_IMAGE2 {
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}




.srv4-hero--div__HERO_PARTNERS {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_PARTNERS {
        margin-left: 142px;
        align-self: flex-end;
    }
}
@media (min-width: 1920px) {
    .srv4-hero--div__HERO_PARTNERS {
        margin-left: 175px;
    }
}




.srv4-hero--p__HERO_PARTNERS_TOP {
    font-size: 19px;
    line-height: 27px;
    color: var(--color-blue);
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .srv4-hero--p__HERO_PARTNERS_TOP {
        font-size: 23px;
        line-height: 33px;
    }
}




.srv4-hero--div__HERO_PARTNERS_ITEMS {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_PARTNERS_ITEMS {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 30px;
    }
}




.srv4-hero--div__HERO_PARTNERS_ITEM {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_PARTNERS_ITEM {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: subgrid;
        grid-row: span 2;
        row-gap: 30px;
    }
}




.srv4-hero--div__HERO_PARTNERS_ITEM .c-common--div__LINE1 {
    margin-bottom: 0px;
}




.srv4-hero--p__HERO_PARTNERS_ITEM {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-black1);
}









.srv4-hero--div__HERO_TEXT {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO_TEXT {
        width: 32.8%;
        transition: opacity 0.7s, transform 0.7s;
    }
}
@media (min-width: 1920px) {
    .srv4-hero--div__HERO_TEXT {
        width: 30.8%;
    }
}




@media (max-width: 1439px) {
    .srv4-hero--div__HERO_TEXT.__C-SCRL {
        transform: translate(0px, 0px) !important;
    }
}




@media (min-width: 1440px) {
    .srv4-hero--div__HERO_TEXT .st-main--p__DESCR2 {
        margin-top: 24px;
    }
}




@media (min-width: 1440px) {
    .srv4-hero--div__HERO_TEXT .st-main--p__DESCR1.__C-SCRL,
    .srv4-hero--div__HERO_TEXT .st-main--p__DESCR2.__C-SCRL,
    .srv4-hero--div__HERO_TEXT .st-main--div__QUOTE3.__C-SCRL {
        transform: translate(0px, 0px) !important;
        opacity: 1 !important;
    }
}




.srv4-hero--div__HERO .st-main--div__QUOTE3 {
    margin: 30px 0px 0px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__HERO .st-main--div__QUOTE3 {
        margin: 44px 0px 0px;
    }
}




.srv4-hero--div__SUBSECT1,
.srv4-hero--div__SUBSECT2 {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .srv4-hero--div__SUBSECT1,
    .srv4-hero--div__SUBSECT2 {
        margin-top: 100px;
    }
}




.srv4-hero .st-main--div__IMAGE6 {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6 {
        margin-top: 44px;
    }
}





.srv4-hero .st-main--img__IMAGE6_MAIN_IMAGE {
    object-position: 50% 0%;
}
@media (min-width: 1440px) {
    .srv4-hero .st-main--img__IMAGE6_MAIN_IMAGE {
        object-position: 20% 0%;
    }
}




@media (max-width: 1439px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_BORDER {
        display: none;
    }
}




.srv4-hero .st-main--div__IMAGE6_MAIN_BORDER.first {
    margin: 0px;
    height: 4.13px;
    width: 100%;
    display: flex;
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_BORDER.first {
        display: none;
    }
}




@media (max-width: 1439px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_TEXT {
        margin-top: -6px;
    }
}




@media (max-width: 1439px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_TEXT.__C-SCRL {
        transform: translate(0px, 100px) !important;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_TEXT_CONT {
        gap: 10px;
    }
}
@media (min-width: 1920px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_TEXT_CONT {
        flex: 0 0 100%;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6_MAIN_TEXT {
        width: 415px;
        align-self: flex-start;
    }
}




.srv4-hero--div__LIST {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .srv4-hero--div__LIST {
        margin-top: 44px;
    }
}




.srv4-hero--p__LIST_NAME {
    font-size: 19px;
    line-height: 27px;
    color: var(--color-blue);
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .srv4-hero--p__LIST_NAME {
        font-size: 23px;
        line-height: 33px;
    }
}




.srv4-hero--div__LIST .st-main--p__DESCR2 {
    margin-top: 14px;
}




.srv4-hero--div__LIST_CONT {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__LIST_CONT {
        margin-top: 44px;
        flex-direction: row;
        gap: 80px;
    }
}




.srv4-hero--div__LIST_COL {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__LIST_COL {
        gap: 24px;
    }
}




.srv4-hero--div__LIST_ITEM {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    transition: opacity 0.7s, transform 0.7s;
}
@media (min-width: 1440px) {
    .srv4-hero--div__LIST_LEFT {
        gap: 20px;
    }
}




.srv4-hero--p__LIST_NUM {
    font-weight: 100;
    font-size: 50px;
    line-height: 50px;
    color: var(--color-blue-light2);
}
@media (min-width: 1440px) {
    .srv4-hero--p__LIST_NUM {
        margin-top: -4px;
        font-size: 73px;
        line-height: 73px;
    }
}




.srv4-hero--div__LIST_ITEM_TEXT {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__LIST_ITEM_TEXT {
        gap: 12px;
    }
}




.srv4-hero--p__LIST_TEXT_TOP {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-black1);
    text-transform: uppercase;
}
@media (min-width: 1440px) {
    .srv4-hero--p__LIST_TEXT_TOP {
        font-size: 13px;
        line-height: 23px;
    }
}




.srv4-hero--div__LIST_TEXT_BODY {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
@media (min-width: 1440px) {
    .srv4-hero--div__LIST_TEXT_BODY {
        gap: 10px;
    }
}




.srv4-hero--p__LIST_TEXT_BODY {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .srv4-hero--p__LIST_TEXT_BODY {
        font-size: 16px;
        line-height: 26px;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6.second {
        flex-direction: row;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .second .st-main--div__IMAGE6_MAIN_TEXT {
        width: 100%;
        align-self: stretch;
    }
}
@media (min-width: 1920px) {
    .srv4-hero .second .st-main--div__IMAGE6_MAIN_TEXT {
        width: 390px;
        align-self: flex-start;
    }
}




@media (min-width: 1920px) {
    .srv4-hero .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_IMAGE_CONT {
        width: 390px;
        align-self: flex-start;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_BORDER.second {
        margin: 0px 0px 19px;
        width: 100%;
        background: url("../../../../images/tech/te-dev_border1.svg");
    }
}




.srv4-hero .second .st-main--img__IMAGE6_BIG_IMAGE {
    object-position: 50% 80%;
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6.second .st-main--div__IMAGE6_BIG_IMAGE_CONT.__C-SCRL {
        transform: translate(-150px, 0px) !important;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_TEXT.__C-SCRL {
        transform: translate(150px, 0px) !important;
    }
}




@media (max-width: 1439px) {
    .srv4-hero .second .st-main--div__IMAGE6_MAIN_BORDER {
        width: 4px;
        position: relative;
        flex-shrink: 0;
        display: flex;
        overflow: hidden;
    }
}




@media (min-width: 1440px) {
    .srv4-hero .st-main--div__IMAGE6.second .st-main--div__IMAGE6_MAIN_IMAGE_CONT.__C-SCRL {
        transform: translate(150px, 0px) !important;
    }
}




@media (max-width: 1439px) {
    .srv4-hero--div__SUBSECT2 .st-main--div__QUOTE3 {
        margin-top: 30px;
    }
}




@media (min-width: 1440px) {
    .srv4-hero--div__SUBSECT2 .st-main--div__QUOTE3 {
        margin: 44px 0px 0px 0px;
        width: 64.8%;
        align-self: flex-end;
    }
}
@media (min-width: 1920px) {
    .srv4-hero--div__SUBSECT2 .st-main--div__QUOTE3 {
        width: 71.8%;
    }
}




@media (max-width: 1439px) {
    .srv4-hero--div__SUBSECT2 .st-main--p__DESCR2 {
        margin-top: 30px;
    }
}




@media (max-width: 1439px) {
    .srv4-hero--div__SUBSECT2 .st-main--div__DESCR3 {
        margin-top: 30px;
    }
}