
/* ---------- ********** |||||||||| СТРАНИЦА ИСТОРИИ УСПЕХА |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ SIT ********** ---------- */


@media (max-width: 1439px) {
    #hs-sit h2 {
        max-width: none;
    }
}




#hs-sit .in-des--div__LIST {
    margin-top: 20px;
}
@media (min-width: 1440px) {
    #hs-sit .in-des--div__LIST {
        margin-top: 44px;
    } 
}