
/* ---------- ********** |||||||||| СТРАНИЦА ИСТОРИИ УСПЕХА |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ ORG ********** ---------- */


.hs-res {
    margin: 68px 0px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 1440px) {
    .hs-res {
        margin: 100px 0px;
        padding: 0px 80px;
    } 
}




.hs-res--div__CONT {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .hs-res--div__CONT {
        padding-bottom: 0px;
    }
}




#hs-res .st-main--p__DESCR1 {
    margin-top: 30px;
}
@media (min-width: 1440px) {
    #hs-res .st-main--p__DESCR1 {
        margin-top: 42px;
    }
}




#hs-res .st-main--div__QUOTE1,
#hs-res .st-main--div__QUOTE {
    margin-top: 68px;
}
@media (min-width: 1440px) {
    #hs-res .st-main--div__QUOTE1,
    #hs-res .st-main--div__QUOTE {
        margin-top: 100px;
    }
}