
/* ---------- ********** |||||||||| ДОМАШНЯЯ СТРАНИЦА |||||||||| ********** ---------- */


/* ---------- ********** СЕКЦИЯ 5 - HST ********** ---------- */


.hm-hst {
    margin-top: 68px;
    padding: 0px 16px;
    width: 100%;
    position: relative;
}
@media (min-width: 1440px) {
    .hm-hst {
        margin-top: 100px;
        padding: 0px 80px;
    } 
}




.hm-hst--div__CONT {
    padding-bottom: 86px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px) {
    .hm-hst--div__CONT {
        padding-bottom: 0px;
    }
}




.hm-hst--div__BODY {
    margin-top: 30px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1440px)  {
    .hm-hst--div__BODY {
        margin-top: 42px;
    }
}




.hm-hst--ul__MENU {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 26px;
    list-style-type: none;
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
    transition: transform 0.7s, opacity 0.9s;
}
@media (min-width: 1440px) {
    .hm-hst--ul__MENU {
        padding: 0px 0px 26px;
        position: relative;
        display: flex;
        gap: 180px;
        border: none;
        border-radius: 0px;
        border-bottom: 0.25px solid var(--color-gray);
    }
}




.hm-hst--li__MENU_ITEM {
    display: flex;
    flex-direction: column;
    transition: opacity 0.9s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-hst--li__MENU_ITEM {
        padding-bottom: 0px;
    }
}




.hm-hst--button__MENU_ITEM {
    padding: 14px 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.7s;
}




.hm-hst--span__MENU_ITEM {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--color-black1);
    transition: all 0.2s;
    text-align: start;
}
@media (min-width: 1440px) {
    .hm-hst--span__MENU_ITEM {
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
    }
}

@media (any-hover: hover) {
    .hm-hst--button__MENU_ITEM:hover .hm-hst--span__MENU_ITEM {
        color: var(--color-blue);
    }
}
.hm-hst--button__MENU_ITEM:active .hm-hst--span__MENU_ITEM {
    color: var(--color-blue);
}

.__hm-hst--li__MENU_ITEM .hm-hst--span__MENU_ITEM {
    color: var(--color-blue);
}




.hm-hst--svg__MENU_ITEM {
    margin-left: auto;
    flex-shrink: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.hm-hst--li__MENU_ITEM:has(.hm-hst--form__SUBMENU) .hm-hst--svg__MENU_ITEM {
    visibility: visible;
}
@media (min-width: 1440px) {
    .hm-hst--svg__MENU_ITEM {
       display: none;
    }
}

.__hm-hst--li__MENU_ITEM .hm-hst--svg__MENU_ITEM {
    transform: rotate(180deg);
}




.hm-hst--form__SUBMENU {
    max-height: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px;
    overflow: hidden;
    opacity: 0;
    transition: margin-top 0.25s, max-height 0.25s, opacity 0.15s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-hst--form__SUBMENU {
        margin-top: 0px;
        padding-right: 10px;
        width: 22.5%;
        position: absolute;
        top: 145px;
        left: 0px;
        grid-auto-rows: auto;
        background: linear-gradient(90deg, var(--color-gray) 0%, var(--color-gray) 100%) left top / 0.25px 100% no-repeat;
        opacity: 0;
        animation: visib 0.7s forwards;
        overflow-y: auto;
        transition: margin-top 0.7s, max-height 0.7s, opacity 0.5s, transform 0.7s;
    }
    @-moz-document url-prefix() {
        .hm-hst--form__SUBMENU {
            padding-right: 15px;
        }
    }
}
@media (max-width: 1439px) {
    .__hm-hst--li__MENU_ITEM .hm-hst--form__SUBMENU {
        margin-top: 26px;
        max-height: 650px;
        opacity: 1;
    }
}

@media (min-width: 1440px) {
    .__hm-hst--li__MENU_ITEM .hm-hst--form__SUBMENU {
        margin-top: 0px;
        opacity: 1;
        visibility: visible;
        animation: none;
    }
}




.hm-hst--div__SUBMENU_BACK {
    display: none;
    position: absolute;
    height: 32px;
    width: calc(22.5% - 10px);
    left: 0px;
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 100%), hsla(0, 0%, 100%, 0%));
    pointer-events: none;
}
@media (min-width: 1440px) {
    .hm-hst--div__SUBMENU_BACK {
        display: flex;
    }
}




.hm-hst--label__SUBMENU {
    padding: 10px 12px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-left: solid 2px transparent;
    border-radius: 0px 7px 7px 0px;
    transition: all 0.2s;
    cursor: pointer;
}
@media (min-width: 1440px) {
    .hm-hst--label__SUBMENU {
        margin-left: 0px;
        padding: 8px 32px;
        min-height: 110px;
        position: relative;
        transition: all 0.2s;
    }
}

.hm-hst--label__SUBMENU:has(.hm-hst--input__SUBMENU:checked) {
    z-index: 4;
    background-color: var(--color-bluegray);
    border-left: solid 2px var(--color-red);
}




.hm-hst--label__SUBMENU::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    border: 8px solid transparent;
    transition: all 0.2s;
}

.hm-hst--label__SUBMENU:has(.hm-hst--input__SUBMENU:checked)::before {
    border-left-color: var(--color-red);
}



.hm-hst--input__SUBMENU {
    position: absolute;
    visibility: hidden;
}




.hm-hst--span__SUBMENU {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-black1);
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .hm-hst--span__SUBMENU {
        font-weight: 500;
        font-size: 19px;
        line-height: 28px;
        color: var(--color-black1);
    } 
}
@media (min-width: 1550px) {
    .hm-hst--span__SUBMENU {
        font-size: 21px;
    } 
}

@media (any-hover: hover) {
    .hm-hst--label__SUBMENU:hover .hm-hst--span__SUBMENU {
        color: var(--color-blue);
    }
}
.hm-hst--label__SUBMENU:active .hm-hst--span__SUBMENU {
    color: var(--color-blue);
}

.hm-hst--label__SUBMENU:has(.hm-hst--input__SUBMENU:checked) .hm-hst--span__SUBMENU {
    color: var(--color-blue);
}




.hm-hst--a__SUBMENU {
    display: none;
}
@media (min-width: 1440px) {
    .hm-hst--a__SUBMENU {
        max-height: 0px;
        align-self: flex-start;
        display: flex;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-black1);
        overflow: hidden;
        transition: padding 0.4s, max-height 0.4s, color 0.2s;
    }

    .hm-hst--label__SUBMENU:has(.hm-hst--input__SUBMENU:checked) .hm-hst--a__SUBMENU {
        padding-top: 10px;
        max-height: 40px;
    }

    @media (any-hover: hover) {
        .hm-hst--a__SUBMENU:hover {
            color: var(--color-red);
        }
    }
    .hm-hst--a__SUBMENU:active {
        color: var(--color-red);
    }
}




.hm-hst--div__LINE {
    display: none;
}
@media (min-width: 1440px) {
    .hm-hst--div__LINE {
        height: 2px;
        width: 46px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: flex;
        background-color: var(--color-red);
        transition: all 0.4s;
    }
    .hm-hst--ul__MENU:has(.hm-hst--li__MENU_ITEM:nth-of-type(2).__hm-hst--li__MENU_ITEM) .hm-hst--div__LINE {
        transform: translate(308px);
    }
}




.hm-hst--div__MAIN {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
@media (min-width: 1440px) {
    .hm-hst--div__MAIN {
        margin-top: 62px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 44px;
    }
}




.hm-hst--div__LEFT {
    display: none;
}
@media (min-width: 1440px) {
    .hm-hst--div__LEFT {
        flex: 0 0 23%;
        display: flex;
    }
}




.hm-hst--div__CONTENT {
    margin: 0px auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
    transition: all 0.7s;
}
@media (min-width: 768px) {
    .hm-hst--div__CONTENT {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 44px;
        row-gap: 44px;
    }
}
@media (min-width: 1200px) {
    .hm-hst--div__CONTENT {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1440px) {
    .hm-hst--div__CONTENT {
        margin: 0px;
        flex: 0 1 72.7%;
    }
}
@media (min-width: 1500px) {
    .hm-hst--div__CONTENT {
        margin: 0px;
        flex: 0 1 73%;
    }
}
@media (min-width: 1730px) {
    .hm-hst--div__CONTENT {
        flex: 0 1 73.8%;
    }
}




.hm-hst--article__CARD {
    padding-top: 20px;
    /* width: 328px; */
    width: 100%;
    min-width: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0px;
    background-color: hsl(0, 0%, 100%);
    border: 0.25px solid var(--color-gray);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s, opacity 0.9s, transform 0.7s;
}
@media (min-width: 1440px) {
    .hm-hst--article__CARD {
        padding-top: 32px;
        /* width: auto; */
    }
}


.hm-hst--article__CARD:hover {
    box-shadow: var(--block-shadow);
}





.hm-hst--a__CARD_TAG {
    padding: 2px 20px;
    justify-self: start;
    display: flex;
    align-items: flex-start;
    gap: 14px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    transition: all 0.2s;
}
@media (min-width: 1440px) {
    .hm-hst--a__CARD_TAG {
        padding: 2px 32px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media (any-hover: hover) {
    .hm-hst--a__CARD_TAG:hover {
        font-weight: 500;
    }
}
.hm-hst--a__CARD_TAG:active {
    font-weight: 500;
}





.hm-hst--div__CARD_TAG_CIRCLE {
    margin-top: 4px;
    height: 8px;
    width: 8px;
    flex-shrink: 0;
    border-radius: 50%;
}
@media (min-width: 1440px) {
    .hm-hst--div__CARD_TAG_CIRCLE {
        margin-top: 7px;
        height: 12px;
        width: 12px;
    }
}
.color-yellow .hm-hst--div__CARD_TAG_CIRCLE {
    background-color: var(--color-yellow);
}
.color-green .hm-hst--div__CARD_TAG_CIRCLE {
    background-color: var(--color-green);
}
.color-mare .hm-hst--div__CARD_TAG_CIRCLE {
    background-color: var(--color-mare);
}




.hm-hst--p__CARD_NAME {
    margin-top: 16px;
    padding: 0px 20px;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black1);
}
@media (min-width: 1440px) {
    .hm-hst--p__CARD_NAME {
        margin-top: 36px;
        padding: 0px 32px;
        font-size: 23px;
        line-height: 28px;
    }
}




.hm-hst--p__CARD_TEXT {
    margin-top: 16px;
    padding: 0px 20px;
    /* max-height: calc(20px * 2); */
    /* width: 100%; */
    /* min-width: 0; */
    display: -webkit-box;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}
@media (min-width: 1440px) {
    .hm-hst--p__CARD_TEXT {
        margin-top: 36px;
        padding: 0px 32px;
        height: auto;
        max-height: none;
        display: flex;
        font-size: 16px;
        line-height: 26px;
    }
}
@media (min-width: 1920px) {
    .hm-hst--p__CARD_TEXT {
        /* max-height: calc(26px * 4); */
        display: -webkit-box;
        -webkit-line-clamp: 4;
    }
}




.hm-hst--div__CARD_IMAGE {
    margin-top: 40px;
    aspect-ratio: 7 / 5;
    position: relative;
    bottom: -1px;
    background: url("../../../../images/home/hm-common_logo.svg") center / 250px no-repeat;
    border-radius: 10px;
}
@media (min-width: 1440px) {
    .hm-hst--div__CARD_IMAGE {
        margin-top: 70px;
        bottom: auto;
    }
}




/* .hm-hst--div__CARD_IMAGE:has(img) {
    background: transparent;
} */




.hm-hst--div__CARD_IMAGE > img {
    aspect-ratio: 7 / 5;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 10px 10px 0px 0px;
}




.hm-hst--a__MORE {
    padding: 6px 12px;
    position: absolute;
    top: 0px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--color-red);
    border-radius: 7px;
    transform: translateY(-50%);
    transition: background-color 0.2s;
}
@media (min-width: 1440px) {
    .hm-hst--a__MORE {
        padding: 8px 13px;
        right: 32px;
    }
}




.hm-hst--a__MORE::before {
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 35%;
    opacity: 0;
    transform: skew(-25deg, 0deg);
    /* background: linear-gradient(to right,hsla(0, 0%, 100%, 60%) 0%,hsla(0, 0%, 100%, 6%) 100%); */
    background: linear-gradient(to right,hsla(0, 0%, 100%, 68%) 0%,hsla(0, 0%, 100%, 5%) 100%);
    transition: all 0.2s;
    animation: button-to-right 2.5s infinite;
}
@media (any-hover: hover) {
    .hm-hst--a__MORE:hover::before {
        display: none;
    }
    .hm-hst--a__MORE:hover {
        background-color: var(--color-red-hover);
    }
}
.hm-hst--a__MORE:active::before {
    display: none;
}
.hm-hst--a__MORE:active {
    background-color: var(--color-red-hover);
}




.hm-hst--span__MORE {
    font-size: 12px;
    line-height: 26px;
    color: hsl(0, 0%, 100%);
}
@media (min-width: 1440px) {
    .hm-hst--span__MORE {
        font-size: 14px;
    }
}




.hm-hst--img__ATOMS {
    display: none;
}
@media (min-width: 1440px) {
    .hm-hst--img__ATOMS {
        position: absolute;
        top: 110px;
        right: 0px;
        z-index: -1;
        display: inline;
    }
}